[2017-03-10 03:08] migueldeicaza opened #1 "Support for Xamarin"
Would it be possible to package this software in a form that can be consumed by Xamarin?

We have a customer asking for Xamarin support for Service Fabric, specifically these libraries:

`Microsoft.ServiceFabric` and  `Microsoft.ServiceFabric.Services.Wcf`

[2017-03-28 10:38] mi-hol commented on #1
@migueldeicaza @vturecek I wonder if this topic is getting discussed in an internal conversation? If yes, will you please share the result here?

[2017-03-28 23:55] lythix opened #2 "Solution Unit Tests"
I understand that this part of Service Fabric has only just been made Open Source, so it's possible any testing code may not yet have been made available.
It's common for unit test projects to be along side the code being tested (ie in the same Solution).

I was not sure where to ask this question so my apologies if this is the incorrect place to ask. Where are the Unit Tests located? Unit Tests a

[2017-03-29 21:38] amanbha commented on #2
Yes, you are correct, we are starting to Open Source are programming model, product source code is the first step. Tests which we have  currently are written using internal tools. Part of it is due to history. Service Fabric was developed as internal service, our development process uses tools that aren't public. To be publishable, such issues have to be resolved. Tools either need to be replaced

[2017-03-30 05:10] lythix commented on #2
Sounds excellent, looking forward to seeing the tests. Am interested in contributing and am especially interested in what is used to test, test style, mocking frameworks etc.
Will keep an eye on this repo, I have an interest in Service Fabric but with no tests present making code changes sounds scary.
Thank you

[2017-04-06 00:44] amanbha commented on #2
That's great! yes, of course you can add unit tests, please use NUnit for writing unit tests and do a PR into the develop branch for this repo. Thanks.

[2017-04-06 01:07] lythix commented on #2
Excellent, will do.
I also noticed they use Moq in another Microsoft codebase I looked at (roslyn project-system), so will go with that. I've not yet figured out if each team use their own preference to tools or if Microsoft have a list of tools to try to be consistent. Visibility of that outside Microsoft isn't good.

[2017-04-07 20:17] amanbha commented on #2
Using Moq is fine, I also updated my previous post to use xUnit, we just created the develop branch. Thanks

[2017-04-07 20:20] vturecek commented on #2
@amanbha thanks!

@lythix yes you have a very valid point about standardized testing frameworks across Microsoft projects. A number of MS open source projects (across Azure and asp.net) are using either XUnit or MSTest (the test framework that ships with Visual Studio). So as @amanbha mentioned, we're jumping on the XUnit train as well.

[2017-04-11 04:01] lythix commented on #2
@amanbha Thanks for not letting me get away with anything. :)
I've learned a lot just with this one pull request. It was my first real attempt at a pull request (hopefully it didn't show too much). May there be many more better ones to come.

Also, if you can make available somehow some of the existing test (even if its just the tests themselves without the supporting unreleasable stuff) it will g

[2017-04-11 04:11] amanbha commented on #2
Thanks @lythix for adding these initial set of unit tests, its great! I will share some tests after converting them to xUnit.
For the issue of running tests for x64 in VS: Could you check Test settings are set to x64. Its under the menu Test->Test Settings->Default Processor Architecture

[2017-04-11 04:17] lythix commented on #2
Happy to help. I have a side project where I'm using Service Fabric, so the timing on this being open sourced is perfect. Conferted to xUnit or not, up to you. Happy to convert them if it saves you time.

Yes, the test settings are set to x64. Have done a bit of research as to the error and even created a runner config file.

I just tried running them on this laptop (different machine to where I t

[2017-04-25 00:56] amanbha commented on #2
@lythix   Thanks for your help. I am closing this issue as now we have projects and solutions in place to add more unit tests. I have also converted more unittests to xunit and added to .csproj. For the xunit issue,, could you please open the issue in the xunit repo at https://github.com/xunit/xunit

[2017-04-25 00:56] #2 closed

[2017-05-18 00:55] vturecek opened #9 "StatefulService ctor doesn't check for null arguments"
Service constructors should null-check arguments and throw ArgumentNullException.

Copied from Azure/service-fabric-issues#69

[2017-05-23 21:40] vturecek opened #13 "Actor reminders due time and period should use a 64-bit integer"
Reminder due time and period currently are stored as milliseconds in a uint, limiting each to ~50 days. Should use a 64-bit integer instead to increase allowed values.

[2017-05-23 22:02] amanbha commented on #9
Fixed with PR https://github.com/Azure/service-fabric-services-and-actors-dotnet/pull/11

[2017-05-23 22:02] #9 closed

[2017-06-01 19:11] vturecek opened #15 "Service Remoting migration path"
Tracking the migration path for upcoming new Service Remoting features.

The new features in Service Remoting won't be compatible with the current Service Remoting listener and ServiceProxy. Users will need to follow a 3-phase migration path to successfully upgrade their services to use the new features:

 1. Service upgrade that adds the new version of the Service Remoting listener side-by-side w

[2017-06-02 11:46] NickDarvey commented on #15
Are there any details you can share about the new Service Remoting functionality @vturecek?
Perhaps... generics?

[2017-06-05 16:47] suchiagicha commented on #15
Adding more details on how are we planning to release this new Remoting Stack.
1     We will be changing namespaces for existing Remoting stack to   Microsoft.ServiceFabric.Services.Remoting.Legacy ( name is not yet finalized) in 2.7 sdk release .
2    The new remoting stack will reside in current namespace Microsoft.ServiceFabric.Services.Remoting and will be released in 2.8 sdk . In 2.8 release

[2017-06-06 16:50] vturecek commented on #15
@NickDarvey primarily we're adding support for custom serialization and transport protocols. For the latter, we're adding HTTP as a transport option out of the box. In that case, ServiceProxy and ActorProxy will use HTTP, which also means you can address your remoting methods and actor methods directly over HTTP as well. We're also making some performance improvements to the TCP Fabric Transport w

[2017-06-06 17:13] mholo65 commented on #15
:+1: for custom serialization and transport! Great news!

[2017-06-06 18:08] mholo65 commented on #15
@vturecek for custom transport, does one have to rely on port sharing in order to run multiple partitions on same node? Or will it be possible to use different port on different partition?

[2017-06-06 20:08] aL3891 commented on #15
Great features!

I've been thinking about ways to pool actor proxies (to cut down allocations), essentially changing the actor id the proxy "points" to, with the transport layer opening up, is that something that would be possible to do?

[2017-06-15 00:39] #13 closed

[2017-06-16 09:59] NickDarvey opened #21 "Service Fabric actors and implementing generic interfaces"
Service Fabric services can implement generic interfaces, but they can't be remoted (as @vturecek demonstrated in [a StackOverflow.com answer](https://stackoverflow.com/questions/36985580/service-fabric-with-generic-services/36992513#36992513)). However, Service Fabric actors cannot implement generic interfaces because there is an explicit check to ensure that all interfaces can be remoted.

Is th

[2017-06-16 16:03] vturecek commented on #21
@NickDarvey It's because remoting is basically required for actors, so the check is there to make sure it'll actually work with your actor implementation. With Reliable Services you can use any comm stack so there's no remoting-specific restrictions there.

Also, best actual behavior description ever.

[2017-06-21 12:05] NickDarvey commented on #21
@vturecek That's understandable, though, it's limiting in a way.

I wanted to write an implementation of Rx on top of Service Fabric's actors, i.e. an implementation of `IActorObservable<T>` and `IActorObserver<T>` (and all the operators).
Now, I know those can't be remoted, but allowing consumers of my implementation to define their own `T`  like `IMyActorObservable : IActorObservable<string>` me

[2017-06-22 23:46] BrainSlugs83 opened #22 "Abstract base classes, implementing more than one actor interface require an ActorServiceAttribute attribute with valid Name on the abstract type."
I have an abstract base class that implements a handful of actor interfaces, so that my actual classes don't need to deal with the nitty gritty.

The actual actor classes that implement more than one actor type, and require an explicit service name make sense; no problem there.

But requiring the base class (which is *abstract*!) to specify a service name does not make sense. -- It is the base cla

[2017-06-25 20:18] BrainSlugs83 opened #23 "Minor bug in ActorStateProviderHelper/ExecuteWithRetriesAsync? -- Could be a one line fix."
I've made this same typo before, and it's easy to miss; so, calling it out, just in case.

I'm looking at [ActorStateProviderHelper.cs:83](https://github.com/Azure/service-fabric-services-and-actors-dotnet/blob/18667d8fabdf5edccd4e9782726c1316eff55dd8/src/Microsoft.ServiceFabric.Actors/Runtime/ActorStateProviderHelper.cs#L83):
`effectiveRetryDelay = new TimeSpan(this.owner.TransientErrorRetryDelay

[2017-06-25 20:34] BrainSlugs83 commented on #23
Alternately, if you meant to do it on purpose, maybe add a comment explaining the rationale (so that no one else sees it and tries to "fix" it).

[2017-06-26 12:11] grahamehorner opened #24 "Actor Trigger"
Please provide a feature that will allow actors to be instantiated by external events such as database notifications, message queue, network events; having a actor the continually runs seems waste full while hooking the actor activation logic to an event seems the correct way to handle external events ? IMHO

[2017-06-27 20:28] harahma commented on #23
Yeah that a typo. Thanks for catching it :). We will fix it in next CU release.

[2017-06-27 21:19] amanbha commented on #22
@BrainSlugs83 Thanks for reporting it, will fix it in next release.

[2017-06-28 19:14] #22 closed

[2017-07-09 04:37] aelij commented on #23
@BrainSlugs83 This should be `new TimeSpan(this.owner.TransientErrorRetryDelay.Ticks * 2)`, not `TotalSeconds`. Ticks are what the TimeSpan ctor expects (and are more accurate, being integers).

[2017-07-10 20:23] jackbond opened #29 "Simultaneous calls into actor"
I'm seeing some very strange behavior where it appears an actor is simultaneously handing two different calls. My logging is showing the following...

16:52:34 Call begins on Node 1
16:53:28 Call begins on Node 2
16:53:34 Call ends on Node 2
16:58:01 Call ends on Node 1

The fact that the call on Node 2 begins a minute after the Node 1 seems like perhaps a timeout has occurred? If Service Fabric m

[2017-07-10 20:28] VipulM-MSFT commented on #29
They may be for different ActorId or different Actor Service instance. In addition to the actor id, in your logging add the service and partitioning information from the ServiceContext (service name, partition id).

[2017-07-10 21:20] jackbond commented on #29
@VipulM-MSFT They definitely have the same ActorId, it just so happened that I had logged the additional info...

CheckoutActorServiceType [NodeType (General)] [NodeInstanceId (131432575815913307)] [PartitionId (81880f51-5b55-483c-8cbb-c3bc34c1a6f4)])

CheckoutActorServiceType [NodeType (General)] [NodeInstanceId (131432575913914198)] [PartitionId (81880f51-5b55-483c-8cbb-c3bc34c1a6f4)])

We have

[2017-07-10 21:33] grahamehorner commented on #21
@NickDarvey maybe Bart de Smet could give some pointers, bing and cortana run on ServiceFabric using RX as I understand it?

[2017-07-10 22:02] VipulM-MSFT commented on #29
What is the version of the framework and can you post information about your service?

Get-ServiceFabricServiceName <PartitionId> (https://docs.microsoft.com/en-us/powershell/module/servicefabric/get-servicefabricservicename?view=azureservicefabricps)

and then

Get-ServiceFabricServiceDescription <ServiceName> (https://docs.microsoft.com/en-us/powershell/module/servicefabric/get-servicefabricserv

[2017-07-10 22:17] grahamehorner commented on #29
@VipulM-MSFT it's interesting you mentioned the time of nodes, is there anything within ServiceFabric that could monitor this with the cluster? I've seen a few VMs have time lag?

[2017-07-10 22:26] jackbond commented on #29
@VipulM-MSFT Cluster info:

5.6.220.9494
2012-R2-Datacenter
.NET 4.7
All running in Azure (not onsite) so I'd be surprised if there was any sort of time issue.

FabricClientSettings : {
                       ClientFriendlyName                   : PowerShell-44db8291-c2b9-4741-aff4-e24b18e8a06f
                       PartitionLocationCacheLimit          : 100000
                       PartitionLoc

[2017-07-10 22:40] VipulM-MSFT commented on #29
@grahamehorner - no there isn't any specific tool. We do work fine with clock skews as long as the clocks do not drift at a different rate. @xunlu can you provide more details.

@jackbond - the service seems fine. Other than the possibility of the node clock skews, it is possible that the failover happened and your thread is still running. The runtime does not wait to drain the call, it will not a

[2017-07-10 22:41] VipulM-MSFT commented on #29
@jackbond if you have the traces from the cluster and the time range we can verify the theory, feel free to sync up on private message with @harahma  and send him the cluster information.

[2017-07-10 23:07] VipulM-MSFT commented on #24
We are working on the redesign that will separate out the actor dispatching logic from the transport and code generation. This should help addressing these scenarios.

[2017-07-10 23:09] VipulM-MSFT commented on #15
@mholo65 - that is something for the transport provide to determine. Today if you want port and process isolation in the recently released version we allow option to run single replica per process. This means that for replica of a different partition we will spin up a new process and hence different port.

[2017-07-11 14:30] jackbond commented on #29
@VipulM-MSFT "can we create an issue to allow for an option to drain the pending actor calls before allowing the change role to continue"

Definitely. I have to admit, I'm a bit stunned this isn't the default. I realize this would complicate moving an actor, but with the current behavior, it appears you need to do a lot of defensive coding. Alternatively, would it be possible to trigger an excepti

[2017-07-11 16:23] VipulM-MSFT commented on #29
The reliable services sends a cancellation token on RunAsync and so does the ActorService. We wait for RunAsync to complete. However if you have things in-flight in the reliable services and complete RunAsync, the state machines will move on. However the in-flight operations cannot modify the state in both reliable services and actor service.

Waiting for the active operations can have potential i

[2017-07-11 16:28] jackbond commented on #29
@VipulM-MSFT I'm putting in a support request right now. Just to clarify, can you confirm that the current behavior is NOT to drain pending actor calls, that those calls will continue running, and that the calls will be retried on the new primary?

[2017-07-11 16:33] VipulM-MSFT commented on #29
@jackbond - yes. Yes do open the support request to verify that that's what happened in your behavior. We will open an issue for the feature request.

[2017-07-13 02:21] Jose-CF opened #30 "BadImageFormatException loading ServiceFabric assemblies (all x64)"
Steps to reproduce:

* Create a console application in VS 2017. Target any 4.6.x .NET Framework
* Set the target platform to x64
* Install ServiceFabric Nuget packages in the project:
`
     <PackageReference Include="Microsoft.ServiceFabric" Version="5.6.220" />
    <PackageReference Include="Microsoft.ServiceFabric.Data" Version="2.6.220" />
    <PackageReference Include="Microsoft.ServiceFabric

[2017-07-13 13:21] NickDarvey commented on #21
@grahamehorner Exactly my inspiration! (Except they didn't end up going the actor route.) Unfortunately, Bart is very quiet these days U_U

[2017-07-16 21:17] grahamehorner commented on #21
@NickDarvey maybe a IObservableActor with a set of events and a client side extension method to convert the proxy to a IObservable<T> would be a starter for 10 ?

[2017-07-18 08:49] jackbond opened #31 "OnPostActorMethodAsync not called if method raises an exception"
I'm not sure if this is the intended behavior or not, but OnPostActorMethodAsync is not called if the actor method raises an exception. Whether it is intended or not, please make a note of it in the documentation.

Edit...

What would be really nice is if the existing version were deprecated, and replaced with something like...

protected override Task OnPostActorMethodAsync(ActorMethodContext act

[2017-07-18 17:33] amanbha commented on #31
Thanks @jackbond  for the feedback, we will look into it. Adding @vturecek and @harahma for discussing it further as it will be a breaking change.

[2017-07-18 17:46] amanbha commented on #30
@Jose-CF  If you build it in VS, does it work? IS the Paltform target set to x64 in VS on Build tab of project properties.
![image](https://user-images.githubusercontent.com/11221966/28331529-4e54f4f4-6ba6-11e7-8b3f-401b7c1ebc5b.png)

[2017-07-19 06:03] Jose-CF commented on #30
@amanbha
As I state in my first message, I am building with VS.
As I state in my first message, the target platform is x64

[2017-07-19 19:07] BrainSlugs83 commented on #23
Oh wow! -- Good catch.  -- You are correct. -- I am so used to calling `TimeSpan.FromSeconds`, I didn't even notice it was calling the constructor! -- Seems like a major bug in that case.

What I am used to calling is more like this `someTimeSpan = TimeSpan.FromSeconds(someTimeSpan.TotalSeconds * 2d)`. -- Again, good catch!

[2017-07-19 19:08] amanbha commented on #30
@Jose-CF Could you please share your VS project and solution? You can mail them to me at amanbha@microsoft.com

[2017-07-19 19:13] BrainSlugs83 commented on #23
Also -- I just realized, it's setting itself to some initial timespan value * 2 -- it's not actually doubling itself -- it's doubling some constant value (er static read-only, but still). -- Perhaps it is actually attempting to double itself? -- Anyway, I've updated my original post to the following recommendation:

`effectiveRetryDelay = TimeSpan.FromSeconds(effectiveRetryDelay.TotalSeconds * 2);

[2017-07-19 19:45] BrainSlugs83 opened #32 "Feature Request: Support Azure Cosmos DB and Azure Redis Cache"
1.) A couple of times during development (using regular `KvsActorStateProvider`) our service just completely fell over.  And there was nothing to do but delete the app and recreate it, losing all the data in QA.  I understand there is a backup feature, but it's complex, and a bit unwieldy.

I've currently developed my own [Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/introduct

[2017-07-20 02:23] Jose-CF commented on #30
@amanbha I sent you per email an example. It is actually not relevant... you can reproduce the toy example with the tiny steps described in the issue.
We are really puzzled and not clue why this does not work any more.
We were using the ServiceFabric cluster for few months... then suddenly did not work any more... we also created new fresh VM's in the SF cluster... no difference. Whatever we do...

[2017-07-20 02:59] amanbha commented on #30
@Jose-CF  I am not able to repro this by just creating a console app and running it (Platform Target is set to x64 )in VS,
What is your Service Fabric cluster version? For using 2.6.220 nuget packages, cluster version must be at least 5.6.220 ?

[2017-07-20 18:56] grahamehorner commented on #21
@NickDarvey I've started on a Proof of Concept using ServiceFabric ActorEvents that have a similar interface to IObserver<dynamic> with a IObservableActor<TActorInteface,TEvent> that acts as a proxy to the Actor and marshals the events into a reactive stream 😉 seems to be work so far

[2017-07-20 19:00] VipulM-MSFT commented on #21
Nice! feel free to contribute back to the main source code or as an add-on library. We are also working on making the code gen, dispatch, serialization and transport a distinct blocks with plug-ability. Hopefully that will help integrating additional programming experiences better.

[2017-07-20 19:11] amanbha commented on #32
Adding @vturecek

[2017-07-20 19:16] amanbha commented on #23
Fix will be available in our next release.

[2017-07-20 19:16] #23 closed

[2017-07-20 19:17] amanbha commented on #1
@migueldeicaza
What kind of support are you looking for, exactly? Can you explain the scenario in more detail?

[2017-07-21 06:38] Jose-CF commented on #30
For the record of the issue I will add the SF versions I tried to the first message of this issue

[2017-07-24 17:04] amanbha commented on #30
Resolved it over email with @Jose-CF . The binaries were corrupted in the application package on the machine.

[2017-07-24 17:04] #30 closed

[2017-07-25 01:43] Jose-CF commented on #30
I want to really thank's @amanbha for his help and support.
I want to give a brief description of the problem so that it could potentially help other users:

Upon uploading the application package to the ServiceFabric cluster, some of the assemblies were corrupted. It means the binaries were not identical than the ones we tried to upload. So locally the binaries were correct, but when uploading, s

[2017-08-09 14:16] NickDarvey commented on #21
@grahamehorner nice! I'd love to collaborate with you on this if you wanted to share what you were doing.
The only problem with actor events is that they're fire-and-forget so you can't really rely on them for anything more than client notifications. I was hoping to create something that could be used to compose actor-to-actor comms.

[2017-08-09 21:42] Jm-Fox opened #35 "Customizable IActorTimers"
IActorTimer provides a nice abstraction over timers, but it is not customizable. ActorBase always uses the internal implementation ActorTimer:
https://github.com/Azure/service-fabric-services-and-actors-dotnet/blob/master/src/Microsoft.ServiceFabric.Actors/Runtime/ActorBase.cs#L274

There should be an overload which roughly does the same thing:
[code]

This issue is very important to me because Sy

[2017-08-10 05:21] VipulM-MSFT commented on #35
@Jm-Fox - Definitely this is something that can be customizable. Would it be possible for you to suggest the fix and a PR for the issue?

[2017-08-10 14:18] Jm-Fox commented on #35
Yes, I've forked the repo and created pull request #36.

[2017-08-15 21:41] vturecek commented on #35
@Jm-Fox thanks! Looks pretty good to me.
@harahma can you review real quick and merge if it looks good to you?

[2017-08-18 12:23] Jm-Fox commented on #35
I'm not attached to any implementations, I'll probably make several and use whichever turns out to have the best performance. I'll try both Monitor.Wait() and Thread.Sleep(), though I'm not fond of either of those.

[2017-08-19 21:22] juho-hanhimaki commented on #15
Will the new remoting make it to the next release?

Are there noticeable performance improvements out of the box or is it mostly left up to the users to optimize the serialization and transport?

[2017-08-23 19:09] floec opened #39 "Actor communication issue"
I upgraded the Nuget packages in an existing Service Fabric application from

- Microsoft.ServiceFabric 5.6.220 to 5.7.198 and
- Microsoft.ServiceFabric.xxx 2.6.220 to 2.7.198.

When calling an Actor method from a stateless service, the call does **not** complete.

Thissample app shows this behaviour.

[ServiceFabricAppNugetTest.zip](https://github.com/Azure/service-fabric-services-and-actors-dotn

[2017-08-27 17:56] jackbond opened #40 "5.7.207.9494 is available in portal..."
Can't find any info on it. Any clues or is it a secret? :)

[2017-08-30 00:33] jackbond commented on #31
@amanbha Did you guys ever reach a conclusion on this?

[2017-08-31 20:28] vturecek commented on #40
Top secret, Mr. Bond. Seriously though yeah we'll have release notes out for this version soon, apologies for the delay.

[2017-09-01 18:09] robbie-hughes opened #41 "Remoting client hangs when trying to connect to non-existent URI"
We have a very simple scenario where we are testing what happens when we try to attach a client to a cluster uri that does not exist. The purpose is to determine how the client reacts when the cluster is completely off-line. What we have found is that when the client calls a method on the service, it hangs indefinitely. We were expecting an exception to be thrown due to a timeout or connection not

[2017-09-03 17:28] floec commented on #39
The described behaviour happens within local Visual Studio debug sessions as well as in an Azure hosted Service Fabric cluster. The Service Fabric cluster is up an running and no indications of an unhealthy state are visible.

@suchiagicha can your reproduce the behaviour with the attahced sample app

(ServiceFabricAppNugetTest.zip)[https://github.com/Azure/service-fabric-services-and-actors-dotne

[2017-09-05 14:32] grahamehorner commented on #40
@vturecek any new features Q ? or just a handful of fixes ? 😉 waiting with baited breath

[2017-09-05 14:36] grahamehorner commented on #32
+1000 for me on CosmosDB 😎 and +500 for Redis 😎 happy to help out with a community implement as my current project is also looking for this for azure and on premises ServiceFabric

[2017-09-05 14:46] grahamehorner commented on #24
BTW I'm doing some experimental work around remote observer or observable with RX where an actor could either be instanciated by way of a OnNext, OnError or OnComplete from a Observable event push and/or produce events that would be consumed by one or more listeners either client side or within service fabric as another actor.

[2017-09-05 14:46] #24 closed

[2017-09-05 15:09] grahamehorner commented on #21
@NickDarvey I'm going to start up the project on github with a different implementation as you pointed out actor events are fire-and-forget and I'm now looking into a more robust implementation with regards RX and actor activation/triggers. I'm wondering weather to fork this repo or implement as a plugin in a separate repo ?

[2017-09-06 05:16] NickDarvey commented on #21
@grahamehorner if you had an idea for how to create something like that without changing the underlying Service Fabric Actors code, I'd keep it separate.

[2017-09-06 18:53] amanbha commented on #31
@jackbond, sorry for the delay here, we are just busy with our next release, will discuss and update it here.

[2017-09-06 19:08] suchiagicha commented on #41
@robbie-hughes
This is expected.  Since we retry on these case indefinitely. Assumption is service will eventually come up. We treat this as a failover scenario.

You can use a cancellation token to achieve this. In your remoting Api , add a parameter for Cancellation token. Cancellation token is honored by remoting. When cancellation token is triggered, you will get OperationCancelledException.

[2017-09-06 19:21] suchiagicha commented on #39
@floec
if you can repro in VS , could you please do some debugging yourself . Attach debugger to your actor code and see if calls are reaching to the service or not .

[2017-09-08 19:26] amanbha commented on #35
PR #36

[2017-09-12 18:28] vturecek commented on #40
@grahamehorner Mostly bug fixes, but there are a couple small new things like port override in ServiceManifest.xml.

[2017-09-12 18:43] gabomgp opened #42 "I thinking about use Orleans or Service Fabric for a project"
I thinking about use Orleans or Service Fabric for a project, but I'm very new to both libraries. The question is: Orleans looks with a vibrant open source community (very active issues, commits and gitter).  Orleans is implementing Transaction Support in v2 ([issue 3369](https://github.com/dotnet/orleans/issues/3369)) and the only feature I really like (remember, i'm very new to the two) in Servi

[2017-09-14 20:12] tophallen opened #43 "Unexpected cast from TCommunicationClient to FabricTransportServiceRemotingClient"
I'm trying to override and extend the `FabricTransportServiceRemotingClient` to support a few custom headers, and in the Microsoft.ServiceFabric.Services.Remoting assembly file version 5.7.198.9494 it tries to perform a cast to `FabricTransportServiceRemotingClient` when I believe it should just be `TCommunicationClient` since that is what the `FabricTransportServiceRemotingClientImpl` class needs

[2017-09-15 05:48] tophallen commented on #43
I also posted this over [here](https://github.com/Azure/service-fabric-issues/issues/454) before I realized this had been open sourced - I have a workaround but it isn't pretty. I can make a PR this weekend if it would speed the fix going into a release. Thanks

[2017-09-15 22:13] suchiagicha commented on #43
FabricTransportServiceRemotingClientImpl  assumes that TCommunicationClient is of type FabricTransportServiceRemotingClient . It has method for creating Client which creates client of type FabricTransportServiceRemotingClient .Hence there should not be case where client is not of type FabricTransportServiceRemotingClient .

Here is sample on how to add custom headers.  Look at it and let me know i

[2017-09-15 22:30] tophallen commented on #43
@suchiagicha - Yes, I have already implemented it that way - but I don't see the reason why it couldn't be of type `TCommunicationClient` - the requiring of the cast seems like it's breaking the generic design. I guess I'm not sure why the `FabricTransportServiceRemotingClientImpl` class implements a strong type when everything else is generic or an interface. I don't see anything in the code that

[2017-09-15 22:35] tophallen commented on #43
Actually - after digging a little further down I see why now it has to be that way. since you can't constrain a generic constructor beyond `new()` you wouldn't be able to create a generic client without some sort of `Initialize(params)` method on the interface. I guess this is not an issue. Thanks.

[2017-09-15 22:35] #43 closed

[2017-09-16 01:37] migueldeicaza commented on #1
The packages would be compiled either as pure .NET standard, or compiled specifically for Xamarin.iOS and Xamarin.Android and published as NuGet packages.

[2017-09-16 16:26] floec commented on #39
@suchiagicha: in VS 2017, breakpoints are set in the Actor ctors and the method calls.

The breakpoint in ctor for MyActorService_2_6_220 is hit.
The breakpoint in IMyActorService_2_6_220.SetCountAsync(...) is hit.

The breakpoint in ctor for MyActorService_2_7_198 is **not** hit.
The breakpoint in IMyActorService_2_7_198.SetCountAsync(...) is **not** hit.

![image](https://user-images.githubuserc

[2017-09-22 17:36] cruikshj opened #45 "Any plans to migrate Remoting to netstandard?"

[2017-09-24 02:30] amanbha commented on #45
yes, our preview net standard nuget packages will be available form next release.

[2017-09-24 02:30] #45 closed

[2017-09-24 02:30] #41 closed

[2017-09-24 02:32] amanbha commented on #1
it will be a pure net standard nuget package.

[2017-09-24 02:32] #1 closed

[2017-09-24 02:33] #21 closed

[2017-09-24 02:34] amanbha commented on #40
Our next release be 6.0, ETA couple weeks.

[2017-09-24 02:34] #40 closed

[2017-09-24 02:39] amanbha commented on #42
Service Fabric is a platform and provides programming modes like Reliable Actors, Reliable Services, and container orchestration(to implement services for the platform. Orleans is a virtual actor implementation programming model and not the platform.
Using the Service Fabric programming models will allow you to leverage the full power of the platform which includes locally replicated state, placem

[2017-09-24 02:44] NickDarvey commented on #21
:(

[2017-09-29 19:36] grahamehorner opened #46 "Internal/Protected"
Please consider making internal protected/public to allow actor services derived from ActorService access to the property/methods so they can implement additional functionality

internal IActorActivator ActorActivator
internal ActorMethodDispatcherMap MethodDispatcherMap
internal ActorMethodFriendlyNameBuilder MethodFriendlyNameBuilder
internal IActorManager ActorManager

[2017-09-30 17:49] grahamehorner opened #48 "FeatureRequest: Consider adding a StateManage (or StateProvider) at ActorService level."
please consider allowing the actor state manager to be used by other developers from within custom ActorServices for example

[2017-10-02 16:56] amanbha commented on #48
StateManager is for the Actor, what is exposed at Actor service layer is StateProvider. Do you have any scenario in mind which can't be accomplished by using StateProvider at Actor service layer.

[2017-10-02 20:41] Scythen opened #49 "GetActorReference not using IActorProxy breaks mock framework in release 2.8.211"
Previously ActorReference.GetActorReference cast the actor to an IActorProxy which allowed injection and test frameworks to support get actor ID.

The latest version is now expecting a concrete ActorReference class which does not allow 3rd party libraries to provide custom implementations.

This change has broken our test framework. The logic in GetActorReference should support actors that impleme

[2017-10-02 21:11] VikSab commented on #49
this breaking our unit test framework

[2017-10-02 23:40] amanbha commented on #49
@Scythen , @VikSab to understand it better, could you explain what is actually restricting here. Is it the fact that you were passing a mock of IActorProxy as object to ActorReference.Get(). That seems like a dependence on internal implementation as the method just took an object. I can make the change to check for IActorProxy first and get ActorId from it and get serviceUrl and listener name only

[2017-10-03 00:34] Scythen commented on #49
@amanbha Yes, I was dependent on that internal implementation. However, in my defense there was no other way to create our own actor proxy for our service fabric mock framework.

In order to create unit tests that both enforces serialization restrictions and concurrency restrictions on actors under test we implemented an actor proxy that isolated each actor during test. With this framework we can

[2017-10-03 01:22] amanbha commented on #49
@Scythen fair enough, so you only look for ActorId, let me think about an appropriate fix here without introducing another public api change. To unblock can your test infra pass Actor object to it as the method currently uses it as well as a fall back.

[2017-10-03 15:07] Jm-Fox commented on #42
A while back I too was comparing Orleans to Service Fabric Actors. Ultimately I chose Service Fabric Actors as I see that Microsoft is heavily invested in it with little chance of walking away. While Orleans has community support now, there's not much of a guarantee of support in years to come.

Here's a helpful article I found while researching this: http://richorama.github.io/2016/07/08/orleans-

[2017-10-03 15:51] amanbha commented on #42
@Jim-Fox You are correct about 2 above, with support for net standard 2.0 in SF, you can use Actors on Linux with dotnet core.

[2017-10-03 15:52] amanbha commented on #46
Could you please explain the scenarios you foresee with this, we can add them to the framework itself.

[2017-10-03 15:54] amanbha commented on #15
Closing this issue as the new remoting stack is now available with 2.8 SF SDK and 6.0 SF runtime release https://blogs.msdn.microsoft.com/azureservicefabric/2017/09/25/service-fabric-6-0-release/

If you have any questions, please feel free to reopen this or create a new issue.

[2017-10-03 15:54] #15 closed

[2017-10-04 05:37] nrandell opened #50 "Make SegmentedPoolMemoryStream public"
I'm currently building a bond version of the V2 remoting serialization and want to use the SegmentedPoolMemoryStream - however it's internal only! Can this be made public?

[2017-10-04 08:22] nrandell opened #51 "Any reason why BufferPoolManager doesn't use the standard ArrayPool"
Really like the new V2 remoting support! One question though. Why don't you use the System.Buffers ArrayPool for handling this, rather than implementing a new BufferPoolManager.

[2017-10-04 17:34] suchiagicha commented on #50
@nrandell
Could you explain your usecase more in detail?
What do you mean by bond version of v2 remoting?

[2017-10-04 17:37] nrandell commented on #50
I'm creating a custom remoting serialisation using https://github.com/Microsoft/bond. It would be more efficient to use the SegmentedPoolMemoryStream when I serialise the parameters.
It will go up on GitHub soon so you can see it. For now I'm using reflection to create the stream and access the buffers inside it.

[2017-10-04 17:51] suchiagicha commented on #50
SegmentedPoolMemoryStream  uses BufferPoolManager in order to re-use the buffers. If you want the same behavior in your serialization logic , you can use BufferPoolManager(which is public)  to maintain buffer pool . Then implement your stream class which uses bufferPool (which is very straightforward) .  I am not sure why you need to go for reflection?

[2017-10-04 17:57] nrandell commented on #50
You guys have already done the work to create a stream backed by the buffer pool manager. I just wanted to reuse that. As that is internal, I have a method to create a new instance and another method to get the buffers.

[code]
and I use it this way
[code]
As you can see the reflection is just used to build helper methods that access the internal class.

[2017-10-04 18:26] suchiagicha commented on #50
I would recommend to not to rely on internal implementation. Being internal , means we can change it in future. So create copy of the  stream class and then use it. Our code is open-sourced .

We can think about making it  public in future release.

[2017-10-04 18:37] suchiagicha commented on #51
Currently we don't add dependency on external package like System.Buffers.
Also BufferPoolManager pools Object(PooledBuffer) . I am not sure if ArrayPool allows pooling of objects or it only for arrays. Otherwise both looks very similar.

[2017-10-04 20:32] jthelin commented on #50
Hi @nrandell - Looks like this library might help for your scenario?

http://www.philosophicalgeek.com/2015/02/06/announcing-microsoft-io-recycablememorystream/

`Microsoft.IO.RecycableMemoryStream` is a drop-in replacement for MemoryStream, and does buffer pooling under the covers. It has been used internally by the Bing Team at Microsoft for long time now, so already battle-hardened.

Source cod

[2017-10-04 21:24] nrandell commented on #51
That's interesting given that System.Buffers is part of .netstandard 2.0 - I'm 100% certain it's used throughout kestrel in asp.net core (I'm sure @davidfowl can comment on this)

[2017-10-04 21:31] nrandell commented on #50
Thanks @jthelin  - I've seen this, but didn't use it.
To be honest, I'm really surprised with what I'm seeing under the hood in the V2 of remoting. I was really excited to read about all the buffer pooling etc, to reduce memory pressure. However the implementation leaves my scratching my head a bit. As far as I can tell, there is a separate buffer pool manager used for each serialization interface

[2017-10-09 13:59] petroemil commented on #42
@Jm-Fox I was just going through a very similar dilemma between Orleans and Service Fabric, and came to a similar conclusion as you did.

I'm also looking forward to see some of the more advanced features of Orleans (like Streams, Transactions or even the Dashboard) to show up in Service Fabric's Actors implementation.

Apparently we don't have to wait long before we get .NET Core support, which i

[2017-10-11 21:59] Scythen commented on #49
We have passed the Actor object to tests that do not have concurrency issues but for many of our tests the isolation is required to ensure test code does not invoke actor methods concurrently.

[2017-10-11 22:03] Scythen commented on #49
It seems like this should be very simple to fix with a slight change to the logic in GetActorReference. If the object is not an ActorProxy or an Actor but is an IActorProxy it should fall back to using the interface.

[2017-10-11 22:14] amanbha commented on #49
@Scythen The ServiceUri which is a required DataMember of ActorReference is not available on IActorProxy. So In this fallback case ServiceUri will be set to EmptyString. Do your tests rely on ServiceUri as well? I can make this change but I still feel that its dependent on internal implementation of the method, looking at method signature, its not known if method takes a IActorProxy(now ActorProxy

[2017-10-11 23:54] suchiagicha commented on #50
@nrandell
We are using same bufferPoolManager at a listener level  . Multiple remoting interfaces will use same bufferPoolManager  if they are hosted under same listener.   BufferPoolManger is created for each ServiceRemotingDataContractSerializationProvider. Provider is created for each Listener Dispatcher.

All these interfaces are public and pluggable. You can implement these and use ArrayPool

[2017-10-12 05:40] nrandell commented on #50
Thanks for the update @suchiagicha. I was just curious as to the decisions to create a new buffer pool mechanism rather than go with the standard ArrayPool.

[2017-10-12 05:40] #50 closed

[2017-10-13 17:54] amanbha commented on #49
@Scythen I have made this change, will be available with our nuget packages released with our 6.1 SF runtime release (SDK nuget package version for it is not finalized yet).
// try as IActorProxy for backward compatibility as user's mock framework may rely on it.
            var actorProxyInterface = actor as IActorProxy;
            if (actorProxyInterface != null)
            {
                r

[2017-10-13 19:35] VikSab commented on #49
IActorProxy also implements/has property ActorServicePartitionClient along with ActorServicePartitionClientV2

why cant it mirror the code in previous if block?

the service uri is still available in the implemented properties

[2017-10-13 20:20] amanbha commented on #49
@VikSab because RemotingClient is on ActorProxy which is used to determine V1 or V2

[2017-10-13 22:25] amanbha commented on #49
@VikSab, you can ignore the code snippet in previous comment, i have refactored it kept the first cast to IActorProxy instead of ActorProxy.

[2017-10-16 17:14] Telavian opened #52 "Optional parameters for remoting"
I added optional parameters to my IService implementation and came to found out that remoting doesn't support optional parameters. My question is why?

From what I understand the interface itself is a clear contract so there should be no ambiguity. Whether the caller sends the parameter or not changes nothing.

[2017-10-16 18:39] amanbha commented on #52
Its in our backlog, its just that when we triaged backlog there are other high priority work items for the team.

[2017-10-16 18:41] Telavian commented on #52
Sure I understand. Thanks.

[2017-10-16 18:41] #52 closed

[2017-10-16 21:33] amanbha commented on #49
Closing it as I have made the fix in our internal repo, it will be available with our nuget packages released with our 6.1 SF runtime release

[2017-10-16 21:33] #49 closed

[2017-10-17 19:20] jackbond opened #53 "Deployment issue with latest release"
I updated to the following...

Microsoft.VisualStudio.Azure.Fabric.MSBuild 1.6.3
Microsoft.ServiceFabric 6.0.219
Microsoft.ServiceFabric.Services 2.8.219

And now when I attempt to deploy, I receive the following error:

_Assets file 'MyProjectPath\obj\project.assets.json' doesn't have a target for '.NETFramework,Version=v4.7/win7-x86'. Ensure that restore has run and that you have included 'net47

[2017-10-17 20:59] ravipal commented on #53
@jackbond Is this an existing core service project that you updated to latest nuget package and started getting this error? Can you please share the *.csproj?

[2017-10-18 00:38] jackbond commented on #53
@ravipal It is an existing project. I had actually reverted everything, but I was able to reproduce the error by simply updating Microsoft.VisualStudio.Azure.Fabric.MSBuild to v1.6.3 (from v1.6.1) It uses ProjectReferences, as opposed to packages.config, we're on VS 2017 v15.4.0.

This is the project file

[code]

[2017-10-18 01:47] jackbond commented on #53
@ravipal Ok, I think the issue is that the latest tools aren't compatible with the newest .net project format (this is a breaking change as they did previously work.) I created a new SF project and deployed it no problem, I then converted the project file to the version below, and received the same error.

[code]

[2017-10-18 01:53] ravipal commented on #53
in 1.6.1 nuget package we were explicitly calling package by passing Platform=x64. Now this is changed to use AnyCPU and causes this failure. To fix, update the RuntimeIndentifiers to RuntimeIdentifier and it should fix the issue
\<RuntimeIdentifiers\>win7-x64\</RuntimeIdentifiers\> to \<RuntimeIdentifier\>win7-x64\</RuntimeIdentifier\>

[2017-10-18 04:32] jackbond commented on #53
@ravipal Changing RuntimeIdentifiers to RuntimeIdentifier resolved the issue. Thank you so much for the quick response!!!

[2017-10-27 22:07] Scythen commented on #49
Is there an ETA for SF 6.1 runtime?

[2017-10-29 02:49] #53 closed

[2017-10-29 02:50] amanbha commented on #46
@grahamehorner , I am closing it as i didn't get any response, please feel free to open again.

[2017-10-29 02:50] #46 closed

[2017-10-30 19:07] amanbha commented on #49
@Scythen ETA is arnd 4 weeks, end of Nov 17.

[2017-10-31 11:26] ElDiabloComputatore opened #57 "ReliableConcurrentQueue - warning log on TryDequeueAsync timeout"
If the queue is empty TryDequeueAsync operation  will wait for item to become available yet it still logs dequeue timeout as warning. Is the log entry/log level desired in this case?

[2017-10-31 14:14] amanbha commented on #57
This repo is for Actors and Services layer. The issue seems to be for reliable collections, please open it in issues repo at https://github.com/azure/service-fabric-issues

[2017-10-31 18:28] VipulM-MSFT commented on #57
@amanbha - can you move the issue to right place and assign to @sanchitgarg?

[2017-10-31 19:12] amanbha commented on #57
@ElDiabloComputatore , synced with @sanchitgarg  and we will fix it in future release (tentatively it will be in 6.2 runtime release). Thanks!

[2017-11-10 16:49] prapicault opened #58 "Support for serverless computing"
I've been experimenting with service fabric for the last couple months and I'm really big fan, especially of the actor model.
However there are a number of situations (e.g. writing one-off tasks, administrative tasks, etc.) where having to write a stateless service and deploy it (including all the steps required for this) is just a little bit too cumbersome, and having to resort to use Azure Funct

[2017-11-15 17:50] VikSab commented on #49
@amanbha  - nuget was released yesterday
https://www.nuget.org/packages/Microsoft.ServiceFabric.Actors/2.8.232
the fix doesnt seem to be in this release

[2017-11-15 17:58] amanbha commented on #49
@VikSab that was an update to 6.0 runtime release, as I mentioned earlier the fix would be in 6.1 release.

[2017-11-16 14:12] pksorensen opened #59 "FabUtil.exe with netcoreapp2.0 actors"
I have some actors defined in a netcoreapp2.0 console application (using latest preview nugets of actors) but I cannot get fabutil to run on these projects.

First problem is that Microsoft.Service.Actors.dll is not actually in the bin folders. I copied them over myself until it stopped complaining.

[code]
and trying on the dll instead of the exe

[code]
So do we have to build the actors project

[2017-11-16 16:19] pksorensen commented on #59
I used the following workaround for now
My project.csproj file with the idea that on rebuild I will trigger a net462 build and run fabutil against that instead which updates the manifests.

[code]

[2017-11-16 17:45] amanbha commented on #59
@pksorensen Templates for netcore Actor apps will be available in VS with Service Fabric 6.1 release (ETA 1st week of Dec) and with corresponding VS 2017 update. For now you can handcraft the manifests, or once you have generated them with your workaround, you can disable invoking of FabActUtil by adding property UpdateServiceFabricManifestEnabled as false to your actor csproj
@ravipal as fyi for

[2017-11-16 17:50] pksorensen commented on #59
Cool, i can use my own tooling until you guys are ready :)  `S-Innovations.ServiceFabric.CoreCLR.Tools.FabUtil` just wraps the fabutil and finds it in .nuget folder such it can be called with dotnet fabutil instead of .target files copy.

[code]
if anyone is interested.

[2017-11-20 21:34] Mardoxx opened #60 "Service remoting long term plans and recommendations"
What are the future plans for service remoting?

V1 is to soon be deprecated, as far as I am aware, and has been replaced by the new V2 stack. So in that respect it seems like things arw moving forward however... It also feels to be to be a little neglected (re: my issues raised with ServiceProxy assuming just one stack used and not both) and it is a bit worrying to see the majority of SF team's s

[2017-11-22 18:47] amanbha commented on #42
@gabomgp Closing this because of no activity on this for a while, please feel free to reopen or start a new issue.

[2017-11-22 18:49] #42 closed

[2017-11-22 18:53] amanbha commented on #31
OnPostInvoke is not called when exception is raised in actor methods. Will add explicitly to the method documentation that this is not called when exception is raised in actor method.

[2017-11-22 18:53] #31 closed

[2017-11-22 18:54] amanbha commented on #29
Closing this issue as this is not a bug and is expected in distributed computing, feel free to reopen this one or create a new issue if you need further help on this.

[2017-11-22 18:54] #29 closed

[2017-11-22 18:56] amanbha commented on #35
@harahma please look at pull request #36 for this.

[2017-11-22 18:56] amanbha commented on #59
Closing this one as templates for netcore Actor apps will be available in VS with Service Fabric 6.1 release (ETA 1st week of Dec)

[2017-11-22 18:56] #59 closed

[2017-11-22 18:57] VipulM-MSFT commented on #60
@Mardoxx could you point at the ServiceProxy issue you referenced above.

Disclaimer: The statements below does not reflect any product plans.
The strongly typed interface based communication with location transparent proxy has it's own place in the micro-services world. In that world you want the network boundaries to fade, the objects can be moved around based on the load balancing but in future

[2017-11-22 18:58] amanbha commented on #48
@vturecek for feature request.

[2017-11-22 19:01] amanbha commented on #57
Closing it as this is fixed and will be available in 6.1 release (ETA first week of Dec)

[2017-11-22 19:01] #57 closed

[2017-11-22 19:17] Mardoxx commented on #60
It was this one https://github.com/Azure/service-fabric-issues/issues/570
Some comments from one of your colleagues here too https://github.com/Azure/service-fabric-services-and-actors-dotnet/pull/55

Ahh I see. So if I understand correctly, this is where you'd use service fabric more as a framework than a platform for hosting microservices? In a case where you are less worried about setting up of

[2017-11-22 20:06] VipulM-MSFT commented on #60
Right, Service Fabric runtime provides the platform. The programming model (actors and services) makes use of this platform to provide higher level frameworks for building micro-services. These are only one example of the framework and we expect there may be more in the future. This repository being separate from the runtime was also first step towards making that boundary explicit. Today runtime

[2017-11-22 20:37] Mardoxx commented on #60
Brilliantly said thank you!

[2017-11-22 20:37] #60 closed

[2017-11-22 23:37] amanbha commented on #51
@nrandell Looks like ArrayPool allows pooling of arrays, whereas BufferPoolManager pools PooledBuffer. There is no other specific reason for not using the ArrayPool. Please let me know if you have any other concerns with using BufferPoolManager else I will close this issue.

[2017-11-24 11:49] nrandell commented on #51
I think my main reason for raising this was questioning why you use a different mechanism to pooling memory blocks to the mechanism that is standard in .Net. I was just surprised to see this in something that is some pretty core functionality as re-inventing techniques normally introduces bugs! As long as you guys are aware of the ArrayPool feature and have made the decision that it is not the cor

[2017-11-24 23:54] amanbha commented on #51
Thanks @nrandell , I understand your concern about reusing what is out there and appreciate pointing it out as we were not aware of it. We will look into leveraging this when we refactor next time. Thanks again!.

[2017-11-24 23:54] #51 closed

[2017-11-27 22:47] o1lo01ol1o opened #61 "F# support?"
Hi, as per [here](https://github.com/Azure/service-fabric-issues/issues/375), do you have any materials for F# as far as services or actors are concerned?  The code shouldn't be hard to translate but I haven't been able to get a working combination of `fsproj`, sf `.xml`s, and F# code.  The only examples I've found on the net are quite old.

[2017-12-07 11:27] ikaros88 opened #62 "Remoting V2 Not utilizing ActorDataContractSurrogate"
As far as i can see, transitioning to Remoting V2 breaks Actor Interface Methods that take other IActors as Parameters or return IActors.

In Remoting V1, this was made possible using the ActorDataContractSurrogate which forced Datacontractserializer to serialize ActorInterfaces as ActorReferences and Bind them during deserialization.

Would it be possible to mimic this behavior in Remoting V2? Ot

[2017-12-07 13:23] kbulte opened #63 "Actor memory consumption with random id and manual delete"
We are using actors for image report processing in an IOT scenario and everything seems to be working fine until we checked memory consumption. We saw nodes with primaries using up to 4GB after a couple of days. To get an idea: A report contains 200 images and we start an actor for each image.  A report can be altered for a certain amount of time (let's say 20 minutes) and when altered the same ac

[2017-12-08 17:20] VipulM-MSFT commented on #63
@kbulte - Did you get chance to analyze the dump to see what objects are leaking and who is holding on to them? There is always going to be some increase due to use of various collections but the memory will stabilize after some time.

[2017-12-08 17:32] VipulM-MSFT commented on #62
@ikaros88 - thank for reporting the issue.

While we are aware of the interface breaks with V2 remoting, that resulted from the fact that method parameters are not wrapped (and data contract serializer behaves differently for the top level objects and wrapped data members for the collections), this one was explicit design decision.

V2 remoting stack offer customization of serialization and factor

[2017-12-08 17:34] amanbha commented on #58
@VipulM-MSFT and @vturecek for insights into this.

[2017-12-08 21:55] VikSab commented on #49
@amanbha - whats the ETA for Service fabric 6.1 - since its past Dec 2017 Week 1

[2017-12-08 22:32] amanbha commented on #49
@VikSab  The build is going through final validations, should be out by next week. if it goes well.

[2017-12-11 10:44] kbulte commented on #63
@VipulM-MSFT - No didn't create a memory dump. Based on my tests we switched to a pool of actors (a set of ActorId's). We divide the image reports between these actors now. Memory is around 400MB now after 3 days compared to 3-5GB with random actor id's. We also thought the memory usage would stabilize but we never saw this actually happen. Taking in account the real load we would create in produc

[2017-12-11 18:27] VipulM-MSFT commented on #63
Would it be possible to repro and take the dump to list the top objects? It would help speed up the analysis.

[2017-12-11 20:27] MishaUliutin opened #64 "Service fabric actor with volatile state provider loses states during migration between replicas when register reminder with null state"
Hello,
We have actor which uses volatile state provider and it loses its states and reminders registrations after moving primary to next node if reminder with null state was registered before. Everything works as expected if call RegisterReminderAsync method with empty array (new byte[0]) instead of null for state parameter or with persisted state provider.

[2017-12-11 20:52] amanbha commented on #64
@MishaUliutin How many replicas does the actor service has? Volatile state provider keeps state in memory (its not persisted to disk) on replicas, so if all replicas go down, the state is lost. It works with persisted state provider as the state is persisted to disk.  @harahma for the behavior with reminder with null state, this seems incorrect if you had multiple replicas.

[2017-12-11 21:23] harahma commented on #64
@MishaUliutin The state in the reminder should not impact the behavior. Which version of Service Fabric SDK are you using? Do you have a repro sample for this behavior?

[2017-12-12 09:39] MishaUliutin commented on #64
5.6.220/2.6.220

in my repro 3 replicas and 2 partitions

yes, https://github.com/MishaUliutin/TestSfActors, you could repro it locally on local 5 Nodes cluster, so basically SF contains 2 service:

1. Actor service (TestActor) with volatile state provider which has methods for get state and replica/partition info (GetValueAsync), create state (SetValueAsync), update state and register reminder (U

[2017-12-26 20:32] SamuelCox opened #65 "How do you create .NET core (non ASP.net core) reliable services?"
Hi, I've spent a little time looking at the documentation for this, and none of it was immediately clear. When you create a service fabric project, you can add various services. Two of these options are ASP.net core stateless and stateful services. How do you create .NET core stateless and stateful services without ASP.net core?

The specific use case I'm thinking of is .NET core microservices tha

[2017-12-26 22:12] amanbha commented on #65
@SamuelCox  Please read throught his https://blogs.msdn.microsoft.com/azureservicefabric/2017/10/12/visual-studio-2017-service-fabric-tools-2-0-preview/

[2017-12-26 23:24] SamuelCox commented on #65
Ah that's perfect. Thanks for that. Wish it had come up when I googled.

[2017-12-26 23:24] #65 closed

[2017-12-29 10:27] ladeak opened #66 "Certificates from ApplicationManifest not refreshed"
Having an application with https endpoints on port 443 with some certificate. When I changed the related certificate and deployed the application to my dev cluster on my local machine, everything worked fine.

In another case, I have the same setup and steps but using custom port (say) 19855. This time application fails to start after the certificate has been changed.

Workarounds:

1. change the

[2017-12-29 10:32] ladeak commented on #66
Closing this, as posted to incorrect repo.
https://github.com/Azure/service-fabric-issues/issues/734

[2017-12-29 10:32] #66 closed

[2018-01-03 21:25] VikSab commented on #49
@amanbha  - any updates of the date?

[2018-01-04 18:43] amanbha commented on #49
@VikSab We have to take more fixes for the release, so its been delayed a bit more, it will go through the cycle of build and validations, will keep you posted.

[2018-01-17 18:47] dronkoff opened #67 "No transactions in WCF service hosted by WcfCommunicationListener"
I have a contract and implementation
[code]

They are packaged as stateless service

[code]

Endpoint in service manifest

[code]

Client calls service using this code

[code]

I successfully publish it into local cluster (1 Node) and call.
And here a problem occurs.
### Expected behavior
Inside GetTransactionInfo() implementation Transaction.Current is not null and Transaction.Current.Transaction

[2018-01-18 20:26] VipulM-MSFT commented on #67
@dronkoff - the WCF communication listener may not work with all of the functionality as they may require specific binding and right settings. It is possible that the base type might be rewriting some of the service behavior. If you debug and find the issue that can be fixed in a generic way, please feel free to submit the PR.

[2018-01-19 01:44] harahma commented on #64
Hello @MishaUliutin,

We have identified the bug and working on the fix. It should be available in our next release (v6.2/v6.1 CU).

Thanks again for providing the repro.

Regards,
Hasibur

[2018-01-19 10:57] dronkoff commented on #67
Imho, this issue is something not directly related to binding because if something wrong with binding we won't see a transaction flow, so distributed transaction won't come from the client, but there should be a local transaction as the [OperationBehavior(TransactionScopeRequired = true)] attribute is specified.
So, with working distributed transaction flow inside operation we'll have:
[code]
If s

[2018-01-24 09:41] SamuelCox commented on #65
Any timeline on when this is coming out of preview?

[2018-01-26 19:01] kevinhillinger opened #68 "Support control over ServiceBehavior on WcfCommunicationListener"
Linking issue to pull request #34 so we can start tracking this feature.

Support through the interface, more control over ServiceBehavior.

[2018-01-28 12:26] pksorensen commented on #59
@amanbha I still dont see any templates for actors on dotnet core.

I saw in latest nuget release that there now is a dotnetcore2.0 folder in the build artifact of the nuget. But dotnet FabActUtil.dll indicate that it dont have any entrypoint. Whats the purpose of this? Can we use fabactUtil on dotnet core now?

[2018-01-28 17:12] amanbha commented on #59
Templates will be in corresponding VS release. @ravipal Could you please share when VS 2017 Service Fabric tooling.

[2018-01-29 17:50] amanbha commented on #49
@VikSab New nuget packages are available now. Thanks for being patient while we worked on this new release.

[2018-01-29 20:09] ravipal commented on #59
@pksorensen The latest update (15.5.6) to VS 2017 will include the 2.0 service fabric tooling and it will have the actor core template.

[2018-01-30 13:52] pksorensen commented on #59
@ravipal I am on 15.6 and its not there

![image](https://user-images.githubusercontent.com/2718591/35569647-f670d232-05cc-11e8-8b01-cb4cebc5d7a0.png)

![image](https://user-images.githubusercontent.com/2718591/35569699-1de0bc2e-05cd-11e8-964c-247f10628803.png)

![image](https://user-images.githubusercontent.com/2718591/35569729-348683d2-05cd-11e8-816d-581220ff9f82.png)

[2018-01-30 17:54] ravipal commented on #59
You are on preview version of VS which didn't have the latest tooling. Yesterday we released an update to release version of VS (version: 15.5.6) which has the latest tooling that includes the Actor core template.

[2018-01-30 17:55] pksorensen commented on #59
thanks @ravipal - any chance they also go into the preview version? I dont use anything else. But ofcause i can change to normal one if it wont happen

[2018-01-30 18:04] ravipal commented on #59
We have a tentative plan to release a preview version of an another feature and that release will include the actor core template. The release timeline is not finalized, but should be next week or two. This will not be pushed to VS, instead we will publish a link to the tooling bits in azure fabric blog and you should be able to install on your preview VS.

[2018-01-30 22:02] ddobric opened #69 "Unable to cast COM object of type 'System.__ComObject"
just installed new SF SDK 2.8.232.. and setup cluster 6.0.232.9494.
When starting Actor Client Application getting following error:

"Unable to cast COM object of type 'System.__ComObject' to interface type 'IFabricNodeContextResult2'. This operation failed because the QueryInterface call on the COM component for the interface with IID '{472BF2E1-D617-4B5C-A91D-FABED9FF3550}' failed due to the fol

[2018-01-30 23:13] VipulM-MSFT commented on #69
It seems that you have FabricRuntime.dll in the path that is not compatible with the SDK you are using.

[2018-01-31 09:24] ddobric commented on #69
It might be. What shell I do? How that happened? It was fresh machine.

[2018-01-31 12:05] ddobric commented on #69
I think the currently available setup in PI is not correct.
I have installed the latest bits and get error described above.
Even more, the project template in VS is not in sync with SDK. For example following line cannot be compiled:
[assembly: FabricTransportActorRemotingProvider(RemotingListener = RemotingListener.V2Listener, RemotingClient = RemotingClient.V2Client)]

To make it working, I have

[2018-01-31 18:43] amanbha commented on #69
@ddboric Are you using VS 2015 or VS 2017? What was the default nuget package version it added on project creation?

[2018-01-31 21:13] jmblakl opened #70 "Public events on CommunicationClientFactoryBase never get raised"
**Steps to Reproduce**
Hook the public ClientConnected/ClientDisconnected events in service code
**Expected**
The public ClientConnected/ClientDisconnected events should be raised when handlers are provided to the events, and a client is either connected or disconnected.
**Actual Behavior**
The events are never raised.

Given a Communication Factory implementation of:
[code]
The outcome is that th

[2018-01-31 21:16] jmblakl commented on #70
I would be more than happy to submit a PR for this, but wanted to see if there was a solid reason this shouldn't be exposed first.

[2018-01-31 22:20] VipulM-MSFT commented on #70
@BharatNarasimman do you know why this is disabled?

[2018-01-31 22:56] VipulM-MSFT commented on #69
@ddobric - The VS 2017 install link (http://www.microsoft.com/web/handlers/webpi.ashx?command=getinstallerredirect&appid=MicrosoftAzure-ServiceFabric-CoreSDK) , installs the following:

Service Fabric SDK and Tools 3.0.456
Service Fabric runtime 6.1.456

You then need to update your VS 2017 installation to 15.5.6  release that includes the right templates.

[2018-02-01 00:30] amanbha commented on #70
@jmblakl This seems like an oversight, you can submit a PR for it. Thanks for reporting it!

[2018-02-01 18:18] amanbha commented on #70
Linking to pull request #71

[2018-02-01 19:22] amanbha commented on #70
pull request #71 merged

[2018-02-01 19:22] #70 closed

[2018-02-02 00:32] pksorensen commented on #59
I made a project in vs 15.5.6 and copied over things to my old projects and when building my ServiceManifest is updating correct. That is nice.

However, i am not sure. How do i get the _UpdateServiceFabricApplicationManifest target to run?  looking at the .targets file, it has the same condition as _UpdateServiceFabricServiceManifest - but application manifest do not get the new actor services ad

[2018-02-02 00:54] pksorensen commented on #59
I was mistaken, none of the targets run. I also opened my service fabric project in visual studio 15.5.6 and it dont generate the service type either. It seems to work if I create a new project. I compared the csproj files and they are identical - but my old sf project dont update service types.

[2018-02-02 01:11] ravipal commented on #59
When you create the actor project in 15.5.6 the following happens
1. The actor project will be created with the property \<FabActUtilWorkingDir>$(BaseIntermediateOutputPath)\FabActUtilTemp\</FabActUtilWorkingDir>
2. The project creation will install the Microsoft.ServiceFabric.Actors nuget package version 3.0.456, this nuget installation will generate the file obj\Actor1.csproj.nuget.g.targets whi

[2018-02-02 01:15] pksorensen commented on #59
Thanks mate, that worked.

I did not have the actors nuget packated installed since it was installed as a dependency of one of my common packages. Installing the actors nuget package explicit made everything work.

[2018-02-02 07:05] MartinDemberger opened #72 "Enum values for Microsoft.ServiceFabric.Services.Remoting.RemotingListener"
In Microsoft.ServiceFabric.Services.Remoting.RemotingListener (3.0.456 / .Net-Standard) the values for enum RemotingListener and RemotingClient are wrong.
This can easily be fixed by assigning fixed values to the enum values.
As a work arround I have to use the int value and cast it to the enum.

I don't even understand why two of the three values aren't available in 3.0.

[2018-02-05 18:33] amanbha commented on #72
@MartinDemberger For net core 2.0 only V2 remoting stack is supported that's why the enums have fewer values. If you create a full net framework project you will see all values as it still supports V1 and V2 remoting stack.

[2018-02-09 00:00] amanbha commented on #69
@ddobric Is this issue resolved for you now or you are still running into issues because of this.

[2018-02-14 20:19] amanbha commented on #69
@ddobric I am closing this issue, please feel free to reopen if the issue still persists

[2018-02-14 20:19] #69 closed

[2018-02-14 20:20] amanbha commented on #68
pull request #34 is merged and will be part of Service Fabric 6.2 release.

[2018-02-14 20:20] #68 closed

[2018-02-14 20:21] amanbha commented on #72
@MartinDemberger I am closing this issue as its the expected behavior, please reopen the issue if you have further questions. Thanks!

[2018-02-14 20:41] amanbha commented on #64
The fix would be available in 6.2 release and future 6.1 update releases.

[2018-02-14 20:41] #64 closed

[2018-02-14 23:12] amanbha commented on #63
@kbulte Do you have the dump with some initial analysis as suggested by Vipul above.

[2018-02-15 08:56] MartinDemberger commented on #72
@amanbha Sorry, but the issue isn't the question but the case that the enum-values have different values in Framework and Core.
It's currently not possible to mix Framework and Core Services.

To mix the Framework and Core Services I have to create a service-interface Project with .net Standard. In the Interface i set the assembly to V2. The Problem occures if the consumer of the Service is .net c

[2018-02-15 17:12] amanbha commented on #72
@MartinDemberger Thanks for explaining it.
Adding @hrushib and @raunakpandya for full framework and dotnet core mix support.

[2018-02-21 23:59] jfloodnet opened #78 "ActorService.RemotingListener never set"
Hi,

I've just been testing an upgrade to V2 and was inspecting the property RemotingListener on the ActorService of the Actor.

This property kept telling me that the Listener was still on V1Listener, even though I was dead sure I'd configured it correctly.

Turns out the property is never used, and therefore misleading.

https://github.com/Azure/service-fabric-services-and-actors-dotnet/blob/dev

[2018-02-22 06:17] VikSab commented on #72
Hi

This issue is causing our build to break - we are in .net 4.6.1 - and want to use latest version of the Service Fabric - But the FabActUtil.exe is failing on build

We are unable to define a custom serialization attribute for our actors.

for some reason this is being resolved to using RemotingListener.V1Listener causing the FabActUtil to load a ActorRemotingProviderAttribute with 2 additional

[2018-02-22 16:37] VikSab commented on #72
This issue seems to be related to using the new csproj format - even though the target framework is 4.6.1 - if the project is moved to new csproj format - its being detected as netstandard/netcoreapp

[2018-02-22 17:37] amanbha commented on #72
@MartinDemberger  We will fix the enums in the next major release and Cumulative Update release as well.

@VikSab We will look into this issue with new csproj format, till then to unblock yourself, could you please use the old csproj format. The  VS templates are still generating older .csproj for full .net framework actor projects, so please don't change them until its supported for Actors projec

[2018-02-22 17:39] VikSab commented on #72
@amanbha - that is how we have gotten unblocked

[2018-02-22 17:40] amanbha opened #79 "New .csproj format causes FabActUtil to fail"
Opening it to track as reported by @VikSab in comments of issue #72

This issue seems to be related to using the new csproj format - even though the target framework is 4.6.1 - if the project is moved to new csproj format - its being detected as netstandard/netcoreapp

This issue is causing our build to break - we are in .net 4.6.1 - and want to use latest version of the Service Fabric - But the F

[2018-02-22 17:42] amanbha commented on #78
@jfloodnet Thanks for reporting it, indeed its not set. we will fix it in our next release.

[2018-02-22 18:06] amanbha commented on #79
@VikSab As per the comments in #72 you are unblocked by using the old .csproj. That's great!

The VS templates are still generating older .csproj for full .net framework actor projects, so please don't change them until its supported for Actors project. I cannot confirm ETA for supporting the new .csproj at this point as there are other high work items we are working on, but will get to it as soon

[2018-02-22 18:07] amanbha commented on #62
Closing this one as its tracked by https://github.com/Azure/service-fabric-issues/issues/590

[2018-02-22 18:07] #62 closed

[2018-02-22 18:09] amanbha commented on #63
@kbulte , I am closing this one because of lack of response, please feel free to reopen if help is needed regarding the issue. It would help speed things up, if you can do initial analysis on the dumps to see which objects are using the memory.

[2018-02-22 18:09] #63 closed

[2018-02-22 18:09] VikSab commented on #79
@amanbha  - the actors project was in the old format for precisely the reason that you have given

our custom serialization was in another project that had been moved to the new format.

The FabActUtil was still not able to load the Actor assembly.

The other project wasnt even able to see V1 implementations without reverting to the Old csproj format

[2018-02-22 18:12] amanbha commented on #79
@VikSab To confirm the other project containing custom serialization, it was also a full .net framework project, correct? Would it be possible to share a repro?

[2018-02-22 18:18] VikSab commented on #79
@amanbha - yes it is also a net461 project ... converted the project over to the new format - as stated - we are able to see the non-dotnet core implementations just by reverting to the old format - as soon as we move to new format we cant see the implementations either.. (the project wont even build) - it should be a simple repro at your end -- if not i can work on one that will work for you guys

[2018-02-22 18:24] amanbha commented on #79
@VikSab Thanks for explaining, so it seems like with new .csproj, even though its full .net framework, it referenced binaries for net core, correct? If that's the case I will try creating repro at my end.

[2018-02-22 18:25] VikSab commented on #79
@amanbha - i would assume that's correct - in the new format there doesnt seem to be a way to give the hint path for nuget

[2018-02-22 18:27] VikSab commented on #79
@amanbha  - let me see if what is the case if i specify the target version in the nuget reference

[2018-02-22 18:41] VikSab commented on #79
@amanbha - even adding reference in new csproj format with targetFramework specified - still seems to pick the .netcore version    <PackageReference Include="Microsoft.ServiceFabric.Actors" Version="3.0.456" targetFramework="net461" />

[2018-02-22 18:46] amanbha commented on #79
@VikSab Thanks for confirming, will look at it.

[2018-02-23 18:35] Scythen commented on #72
@VikSab That fixes the build issues but does not fix the runtime issues.
To fix runtime you also need the cast:
`[assembly: JsonServiceRemotingProvider(RemotingClient = (Microsoft.ServiceFabric.Services.Remoting.RemotingClient)1, RemotingListener = (Microsoft.ServiceFabric.Services.Remoting.RemotingListener)2)]`

The enums in the core and standard versions should have the same value as the framewo

[2018-02-23 19:20] amanbha commented on #72
@Scythen the fix will be to explicitly add enum value.
+ @deepakjangid-MSFT , fyi.

public enum RemotingClient
    {
#if !DotNetCoreClr
        /// <summary>
        /// This is selected to create V1 Client. V1 is an old(soon to be deprecated) Remoting Stack.
        /// </summary>
        V1Client = 0,
#endif

        /// <summary>
        /// This is selected to create V2 Client. V2 is a new Rem

[2018-02-24 00:56] Scythen opened #80 "Unable to use IActorService proxy with V2 remoting and custom serialization"
If a custom serialization provider is used `IActorProxyFactory.CreateActorServiceProxy` fails to create the correct V2 serialization proxy.

I believe the issue is that `CreateActorServiceProxy` user reflection on the assembly containing the interface. Because `IActorService` is in `Microsoft.ServiceFabric.Actors` it does not have the correct assembly attributes for the custom sterilization and th

[2018-02-27 19:34] VipulM-MSFT opened #81 "The enumeration name for the remoting protocol versions should be named correctly"
Currently the name of the enumeration that selects the remoting version are "RemotingClient" and "RemotingListener". This is confusing as these types are not representing the actual client or listener, but they are version selector. They should be appropriately named.

[2018-02-27 19:40] VipulM-MSFT opened #82 "IServiceRemotingRequestMessageBodySerializer should use IMessageBody and not OutgoingMessageBody/IncomingMessageBody"
[code]

**should be**
[code]

and
[code]

**should be**

[code]

[2018-02-27 19:42] VipulM-MSFT opened #83 "IServiceRemotingResponseMessageBodySerializer should use IMessageBody and not OutgoingMessageBody/IncomingMessageBody"
[code]

**should be**

[code]

[2018-02-28 04:13] amanbha commented on #80
@Scythen  Thanks for reporting this, if you are blocked by this, could you please try creating ActorServiceProxy using ServiceProxyFactory
`var proxyFactory = new ServiceProxyFactory((c) =>
            {
                return new FabricTransportServiceRemotingClientFactory(
                    serializationProvider: new MySerializationProvider());
            });

            var partitionKey = n

[2018-02-28 14:02] woszszo opened #84 "Will volatile actor use up any resources after its garbage collected."
The documentation for the service fabric actors states that volatile actors are not persisted to disk. It states, as well, that after the actor is garbage collected it's completely removed from memory. Does it mean that the volatile actor is deleted during garbage collection?

I want to create a lot of volatile actors (with state) and I'm wondering if I should take care/worry about cleaning the re

[2018-02-28 15:44] amanbha commented on #84
When you create actors with volatile state provider, state associated with actors is not persisted and is kept in memory. The state will be kept in memory until the actor is deleted, so it will keep using the memory. During GC of actors by actor runtime, only the actor instance is removed, it's state provider from stateprovider is not removed.

[2018-02-28 16:08] woszszo commented on #84
This is very unexpected behavior. This should be stated clearly in the documentation. So I have further questions:
1. What happens when the cluster runs of the memory?
2. Does empty state manager use any memory/can I release memory occupied by state manager by removing all the state from it?
3. Does your answer apply to non-persisted actor as well?

[2018-02-28 17:15] amanbha commented on #84
@woszszo There seem to be some confusion in understanding the key concepts, please refer to our documentation at https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-actors-state-management#state-persistence-and-replication
I will try explain it here breifly: Actor state provider provides a state store for the actors, the state provider can be peristed, volatie or none. In

[2018-02-28 17:34] woszszo commented on #84
@amanbha I've read the documentation SEVERAL times and I understand key concepts. Otherwise I haven't complained that "**This should be stated clearly in the documentation.**" in previous post. The documentation is ambiguous in many places unfortunately.

Could you elaborate? Because now I'm confused even more.

Is state manager removed by garbage collector or not? Is state itself removed by garba

[2018-02-28 17:40] ap3rus commented on #84
There are two conflicting statements

and

So what is the final answer to this, does state gets removed in case of volatile persistence when actor is garbage collected? The documentation https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-actors-state-management#state-persistence-and-replication does not explicitly explains this behavior, it would be nice if there was a s

[2018-02-28 17:51] amanbha commented on #84
Sure, I will go through the doc and will make it clear to avoid confusion.
I will try to explain further here (remember StateManager and StateProvider are 2 distinct concepts):
When Actor GC happens, actor's state which have been brought into StateManager is removed from memory, StateManager is a wrapper on top of state provider. Any state stored in state provider remains in state provider. Since

[2018-02-28 17:57] woszszo commented on #84
I see, so state provider of volatile actor will keep using memory resources even if the actor itself is deactivated.

Does SF gives a guarantee that empty state provider doesn't use any memory (not even a byte)? I'm worried that it may use some memory for some metadata, even if the state itself was removed.

[2018-02-28 18:00] amanbha commented on #84
Yes, it stores some metadata about the actors which were created. To completely remove everything for the Actor, you should use Delete the actor https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-actors-lifecycle#deleting-actors-and-their-state

[2018-02-28 18:10] woszszo commented on #84
That's a bit unfortunate. It means that if I keep creating volatile actors and don't delete them explicitly I'll run out of RAM eventually.

I'm wondering if I could register some periodic callback which cleans old actors automatically without creating separate service...

[2018-02-28 18:25] amanbha commented on #84
@woszszo yes, currently for deletion you will have to call explicitly from outside of actor to delete the actors.
One approach without an external service, is that you can write your ActorService deriving from ActorService and override the RunAsync method. In RunAsync, you can periodically query for Actors in that partition and based on some flag in Actor's state, you can make DeleteActor calls.

[2018-02-28 18:59] woszszo commented on #84
Thanks! I'll try this approach.

[2018-03-01 08:58] Marusyk commented on #82
Hello @VipulM-MSFT, can I create PR for that or it should be discussed first?

[2018-03-01 18:23] VipulM-MSFT commented on #82
@Marusyk - sure. We are currently fixing all of the coding style related issues to ensure consistency in the code. If you would like to wait until those are in that's fine as well as it will be easier to merge. We expect all style related fixes should be done in a week or so. We are fixing the documentation comments as part of this as well.

[2018-03-01 19:07] kevinhillinger commented on #68
@amanbha Great news. Thanks for the update!

[2018-03-01 21:08] Marusyk commented on #82
@VipulM-MSFT Thanks for answer
So, if you are currently fixing all then will be fixed this as well? Are you sure that I can make PR?

[2018-03-06 18:05] rtanase opened #85 "IServicePartitionResolver is not unit testable"
It looks like the ResolvedServicePartition doesn't have  a public constructor, so we can't stub the ResolveAsync methods.

[2018-03-12 21:29] knowhoper opened #87 "StatefulService times out when invoked via ASF Remoting"
I have a strange issue with a Stateful service timing out, only when called downstream by another service. The idea of this project is to record the latency of hops between nodes, given n number of hops. The implementation is in 3 projects:

API - to call downstream to the worker
Worker Service - to decrement a count and call another WorkerService
Result Service - to record the results to be fetch

[2018-03-12 23:02] amanbha commented on #87
+ @sumukhs for help with this as exception is from Replicator.

[2018-03-13 22:49] guibirow commented on #58
Cool idea, I have thought on something similar, where we could have administrative tasks running at intervals and shutdown once completed. Like scheduled tasks, backups, and so on.
Today we can use the actors, but for this we need a service running all the time.
If we had the concept o 0 instances service we could achieve something similar, but the idea of functions is also valid.

[2018-03-14 20:15] Marusyk commented on #81
@VipulM-MSFT
What do you think about this rename

[code]

and

[code]

[2018-03-14 21:14] amanbha commented on #85
@rtanase  Thanks for reporting, I will look into this further to see whats the best way to allow it, as giving it a public constructor will not help as it creates other members from the native objects, probably removing sealed from it and providing a way to create other properties for unit testing.

[2018-03-14 21:21] Marusyk opened #89 "Rename field Singleton to Instance"
I find out that some classes has field named `Singleton`
like in type `ServiceCodeBuilder`

`static ICodeBuilder Singleton = new ServiceCodeBuilder();`

but actually this type is not implement Singleton pattern. So, it may be a little confusing. Maybe it would better to rename it to `Instance` ?

Here are a list of classes that has field named `Singleton`:
   -  [ServicePartitionKey](https://githu

[2018-03-14 21:37] amanbha commented on #89
@Marusyk Sure, makes sense, can be renamed except the public one(which would be breaking)

[2018-03-14 23:25] Marusyk commented on #89
@amanbha thanks for quick response.

One more suggestion. We have that static properties that creates a new instance. It is not quite as lazy.

The laziness of type initializers is only guaranteed by .NET when the type isn't marked with a special flag called beforefieldinit. Unfortunately, the C# compiler marks all types which don't have a static constructor as beforefieldinit. Note that it affect

[2018-03-15 17:31] amanbha commented on #89
@Marusyk we were not looking at lazy initialization for all of them specially, if they are in hot path of request response processing.

[2018-03-15 22:47] rtanase commented on #85
What about extracting an interface out of it and changing the IServicePartitionResolver to return an interface for the Resolve calls, instead of the concrete types? Do you guys have any internal dependency on that returned type being a ResolvedServicePartition instance?

[2018-03-16 15:20] KTazayan commented on #42
Service Fabric is open source now. Is there a chance that Orleans will be integrated more deeply with SF?

[2018-03-16 19:07] amanbha commented on #85
yes, that's correct, the concrete implementation is referenced at many places. I understand that having an interface or a public constructor would have been correct but its slightly older code base so need to be thought through to avoid breaking changes.

[2018-03-16 22:47] bklooste commented on #58
This should be in a separate rep library ..

- As guibirow alluded to what your after is just a service that runs exe  , eg upload the exe , and process exec it...
- Could also use Roslyn to  exec code that is uploaded.

However such schemes often have big security holes and allows untested code to run on prod ..

Once you have an admin service isn't it trivial  to then add new commands ? A few li

[2018-03-16 22:56] bklooste commented on #61
I haven't tried it so I may be talking garbage . Are your trying on Windows or Linux ..
If I was going to try id be looking at the Linux tooling ( which can run on non Linux )  via sudo npm install -g generator-azuresfcsharp  .

As that tooling has a much lower level of project/ visual studio  dependencies..   The cli commands to install are in scripts but that's trivial.

Id be interested how you

[2018-03-19 16:30] woszszo opened #90 "Does SF guarantee that exactly single thread executed the actor code at particular moment."
Does SF guarantee that *exactly* single thread on *single* machine (node) can have the actor lock acquired in *any* circumstances? Should I expect this during the replica switch?

Should I consider it a bug if the guarantee is broken?

[2018-03-19 18:16] vturecek opened #91 "VS Actor Template Does Not Compile"
The Interface project from an actor VS 2017 template does not compile with an error on line 10 stating RemotingListener could not be found. The line is: [assembly: FabricTransportActorRemotingProvider(RemotingListener = RemotingListener.V2Listener, RemotingClient = RemotingClient.V2Client)]

[2018-03-19 18:20] 4deeptech commented on #32
@BrainSlugs83 Would you be willing to share your Cosmos DB state provider implementation?  I was looking to replace the existing provider and use CosmosDB.  I didn't see a public repo under your account and wanted to see if you'd be willing to share it.

[2018-03-19 19:18] Marusyk commented on #82
Can be closed.
Thanks all

[2018-03-19 19:18] Marusyk commented on #83
Can be closed.
Thanks all

[2018-03-19 20:16] #82 closed

[2018-03-20 03:49] jefersonmanjos opened #92 "Update Service Fabric Manifest"
Hi, when I add a new actor in my project, the ServiceManifest can't auto update during the build. This is a issue? Can I force updade SeriveManifest ?

[2018-03-20 04:23] amanbha commented on #92
Could you check in build output if FabActUtil.exe is run as part of the build?
Also could you check if UpdateServiceFabricManifestEnabled property is set to true in Actor .csproj?

[2018-03-20 04:59] jefersonmanjos commented on #92
Yes UpdateServiceFabricManifestEnabled is true and when a build the application the ApplicationManifest remove my manual custom config. But, I cant found FabActUtilin output.

[2018-03-20 14:41] jefersonmanjos commented on #92
@amanbha yeah the FabActUtil.exe is not run is this project. But I created new project only for test and FabActUtil.exe is running in this new project.

So how can I force FabActUtil run in my other project? The UpdateServiceFabricManifestEnabled is true, I have the same configuration in both.

[2018-03-20 15:19] amanbha commented on #92
Would it be possible to share the project where it repros?

[2018-03-20 15:56] jefersonmanjos commented on #92
Sorry @amanbha we can't. It's a private project. May I can share some logs or other sutffs?

[2018-03-20 16:25] amanbha commented on #92
sure @jefersonmanjos , I understand, in that case let me try with asking more clarifying questions: In your repro you had one Actor project in the solution and then you added another actor project or did you add another actor in the same project?

[2018-03-20 17:13] jefersonmanjos commented on #92
I started with one Actor project, then I added more 3 actor project. Each project has more 3 or 5 actors class.

[2018-03-20 17:31] amanbha commented on #92
@jefersonmanjos Did FabActUtil ran for first project (were manifests for it updated correctly)? On your rebuild your never see it running?

[2018-03-20 18:58] jefersonmanjos commented on #92
Yes for the first time, when I rebuild the FabActUtil running. But after few days the manifests stoped update. I start with MSBuuilder 1.6.4 and now I have 1.6.5. But even with the previous version not work.

[2018-03-20 21:53] amanbha commented on #87
Tracked at https://github.com/Azure/service-fabric-issues/issues/909

[2018-03-20 21:53] #87 closed

[2018-03-20 21:57] mcoskun commented on #87
Hi @knowhoper , I suspect that GetOrAddAsync for the same IReliableDictionary<string, HopCounter> ("results") is being concurrently called while the transaction that is creating it is not yet committed.

Can you try to ensure that the "results" Reliable Dictionary is created before the Result Services starts accepting incoming workload?

Example way to do this would be to
- Use StatefulServiceBase

[2018-03-20 22:25] jefersonmanjos commented on #92
@amanbha I did this: Remove all actors project and create news. For 2/3 project this solved the problem. But for one I got this erro:

[code]
Do you have any idea?

[2018-03-20 22:28] amanbha commented on #92
@jefersonmanjos Was there a callstack with the failure in the build logs?

[2018-03-20 22:35] jefersonmanjos commented on #92
@anmolah I'm not pretty sure what's the callstack. But here the normal build log.

To prevent NuGet from restoring packages during build, open the Visual Studio Options dialog, click on the NuGet Package Manager node and uncheck 'Allow NuGet to download missing packages during build.'
Restoring packages for C:\Code\TARS\Actors.Abstractions\Actors.Abstractions.csproj...
Restoring packages for C:\Co

[2018-03-20 22:38] amanbha commented on #92
@jefersonmanjos  The error is: The actor type 'Exchanges.Actors.Bitmex' does not implement any actor interfaces or one of the interfaces implemented is not an actor interface

[2018-03-20 22:51] jefersonmanjos commented on #92
@amanbha So in my case that I faze this class Bitmex : ExchangeActor<IBitmexExchangeOrders, IBitmexExchangeWallets, IBitmexExchangePositions>, IBitmex{}

This interfaces IBitmexExchangeOrders, IBitmexExchangeWallets, IBitmexExchangePositions need to to be a actor interface too? Because IBitmex was a actor interface.

[2018-03-20 23:09] jefersonmanjos commented on #92
@amanbha It's solved. So to solved the problem I did this steps.
1) Removed all actors projects and create new ones.
2) Removed or add actor interface in my custom parent interfaces.

Thanks for your help.

[2018-03-20 23:09] #92 closed

[2018-03-21 00:50] amanbha commented on #84
@woszszo I am closing this issue, please feel free to reopen if you still have questions.

[2018-03-21 00:50] #84 closed

[2018-03-21 00:53] amanbha commented on #90
During Replica change roles, call can be sent to new primary, while the call in older primary replica continues to execute, however the method executing in older primary will not be able to change state of the actor. Actor method calls should be idempotent to handle this.

[2018-03-21 01:00] #89 closed

[2018-03-21 01:01] #83 closed

[2018-03-21 09:11] woszszo commented on #90
What is the best advice to detect it? We are using actor to guarantee exclusive access to some resources and this particular case breaks this guarantee.

[2018-03-21 14:18] jirikopecky opened #94 "Cannot use Remoting v1 in .NET SDK project targeting net461"
Remoting stack v1 cannot be used from project that targets .NET Framework 4.6.1 and is in the new .NET SDK format - compilation fails with following error:
error CS0234: The type or namespace name 'V1' does not exist in the namespace 'Microsoft.ServiceFabric.Services.Remoting' (are you missing an assembly reference?)

Minimal repro available here: https://github.com/jirikopecky/service-fabric-sdk-

[2018-03-21 17:05] amanbha commented on #90
@woszszo  Let me explain it a bit more:
In addition to ChangeRole, there can still be scenarios(eg. node running primary loosing connectivity with other nodes and hence ChangeRole on it cannot be called.) where an existing replica keeps on running operations but its write access will be revoked so any state changes will not be allowed. The guarantee from the platform is that there will be one prim

[2018-03-21 17:21] woszszo commented on #90
@amanbha
Thanks for exhausting explanation. This helps a lot to understand the issue.

I see, basically we need to change the approach.

[2018-03-21 17:45] amanbha commented on #94
@hrushib  with the new .csproj format, it seems to be adding the netstandard 2.0 version as reference since 4.6.1 is netstandard 2.0. Do we need to repackage the binaries in nuget differently?

[2018-03-21 18:06] keggster101020 opened #96 "Question: Long Deployment Times and Actors In Warning States"
I have an Azure Service Fabric Reliable Actors service with 50+ different actor types. When I try and deploy using CI to my cluster using VSTS "Deploy service fabric application" task it takes about 2 hours on average to complete. This seems rather high and I'm not able to correlate what causes the high upgrade time.

Also, shortly after deployments, some of my actors are in warning state with the

[2018-03-21 18:18] amanbha commented on #96
This doc explains how the upgrades are done: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-application-upgrade
During the upgrade services in one UD are brought down and are moved to other UDs so your nodes in other UDs must handle the replica loads.
How many nodes and what machine types are in the cluster? What is the target and min replica set size of the actor services?

[2018-03-21 18:29] mjanulaitis commented on #91
This failed only before I updated to the latest RemotingListener version.

[2018-03-21 18:32] keggster101020 commented on #96
5 Node Cluster with Windows Server 2016 Datacenter as the hosting OS.

Per Application manifest, all actors have
- MinReplicaSetSize = 3
- PartitionCount = 3
- TargetReplicaSetSize = 3

Are actor services brought down regardless of the actor queue and current processes by using the default cancellation token passed to actors?

[2018-03-21 18:55] amanbha commented on #96
Have you overridden the partition and replica sizes during the deployment.
What is the actual number running in the cluster, you can check it in Service fabric Explorer. What type of machines are these, how much cpu cores and RAM?
Going by the numbers you provides, you have 50+ services, that's a minimum of 50*3*3 = 450 replicas. Roughly around 100 replicas per machine, which is too high given tha

[2018-03-21 19:07] keggster101020 commented on #96
The partition and replica's are being changed in the application manifest before deployment (manual code changes).

Per the service fabric explorer at the cluster level: we have 99 services with 263 partitions and 719 replicas.

Machines are VM Scale Sets in Azure: 14GB Ram, 200GB SSD, 4VCPUs,

[2018-03-21 19:40] amanbha commented on #96
That replica density is too high for the machines and can cause issues during upgrades, when 1 UD will be down and replicas will be moved to other nodes. You need to add more machines to your cluster. Try to keep ~80 for each node with performance testing that the nodes will be able handle the loads.

[2018-03-21 19:47] keggster101020 commented on #96
Ok, in the meantime I'll drop the replica count on some of my actors.

Thanks!

[2018-03-21 19:47] #96 closed

[2018-03-21 21:53] vturecek commented on #91
@mjanulaitis were you able to update everything to the latest version to get that sorted out?

[2018-03-21 23:07] mjanulaitis commented on #91
Sir yes sir.  Thank you.

Mike Janulaitis
801-910-4256
mike@uppersetting.com

________________________________
From: Vaclav Turecek <notifications@github.com>
Sent: Wednesday, March 21, 2018 3:53:49 PM
To: Azure/service-fabric-services-and-actors-dotnet
Cc: Michael Janulaitis; Mention
Subject: Re: [Azure/service-fabric-services-and-actors-dotnet] VS Actor Template Does Not Compile (#91)

@mjanulai

[2018-03-22 15:41] #90 closed

[2018-03-22 17:22] #91 closed

[2018-03-22 18:21] amanbha commented on #78
@jfloodnet I discussed it with my teammates and it seems like don't intend to expose this property, could you please explain the scenario for which you want to use it?

[2018-03-27 00:49] jefersonmanjos opened #100 "Actor Service Contract Not Allows Using Interfaces With Method Parameters"
Hi there is way, so I can using interfaces  in my actor services contract? Something like this:

`public interface IMyActor : IActor{
		Task MyMethod(IProfile profile);
}`

Thanks

[2018-03-27 15:39] jefersonmanjos commented on #100
@amanbha Do you know how to do this? Thanks

[2018-03-27 18:10] amanbha commented on #100
@jefersonmanjos You can do that by using V2 remoting stack and adding CustomSerializer .
Your custom serializer will just add your concrete types to known types for DataContract serializer.
You can find a sample here:  https://github.com/amanbha/servicefabric/tree/master/samples/ActorCustomSerialization

[2018-03-27 21:00] jefersonmanjos commented on #100
@amanbha thanks man. Now I will look for a way to integrate this solution with autofac. We use autofac to register ours actors.

[2018-03-27 21:24] saisworld opened #101 "Actor placement"
Hi,

I have few questions on the Actors and actor runtime

1) What is the placement strategy for newly created actors (not actor service)? Does it use metrics like VM's  currently available cpu or memory or existing running processes to determine where to place the actor? or does it use some hashing algorithm on the actorId and places the actor randomly on a vm irrespective of the its available cp

[2018-03-27 22:26] amanbha commented on #100
@jefersonmanjos  If you pass a wrapper type to your method that would also work without the need of custom serializer.

`
    public interface IMyType
    {
    }

   [DataContract]
    class MyType : IMyType
    {
    }
    [DataContract]
    [KnownType(typeof(MyType))]
    public class Wrapper
    {
        [DataMember]
        public IMyType Value { get; set; }
    }
`
Then yous method can acce

[2018-03-27 22:38] amanbha commented on #101
@saisworld
For placement a hash is generated from the ActorId, this hash is used as the partition key to determine which partition of the actor service the call should go to its irrespective of other resources. This partition key is determined at the ActorProxy when making the call and it sends the call to the correct partition.
If you use a long as ActorId then no hashing is done and its used as

[2018-03-27 23:05] jefersonmanjos commented on #100
@amanbha you are right...but for each type I will need a a custom wrapper. Because I can't use generic class too. Another way is use a wrapper classe with string Value, and the serialize IMyType to json. But this is very verbose to do and also less performatic. I think the custom serializer it's a good solution if I can configure autofac.

[2018-03-28 08:04] saisworld commented on #101
Thanks @amanbha

I have also noticed in my experiments that some of the actors instantiated instantly after invoking them whereas for some there was a delay. Similarly, after processing has been finished in actor there was a delay in  return to the caller. Is this due to unavailable threads in the vm( where caller is running) or is something going on  in the actor runtime?

[2018-03-28 16:44] amanbha commented on #64
Fix for this issue is available in Microsoft.ServiceFarbic.Actors nuget package version >=3.0.467

[2018-03-28 17:09] amanbha commented on #101
There are no know issues in Actor Runtime causing the delay. When you say there was delay how was load distributed across various partitions of the actor service.  You can look at the performance counters for the .net and actors runtime to take a deeper look into what was going on  Actors performance counters are explained here https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-r

[2018-03-29 09:49] saisworld commented on #101
I understand there are no known issues. I want referring to known issues rather I was trying to understand what is going on the actor runtime. Is it trying to sort out lots of actors running, allocation, deallocation etc. Is that causing the delay?

Just to add to my example (mentioned in my first message), below is the picture of the processing times of the Caller, Actor 1 and Actor 2. Total time

[2018-03-29 15:11] Marusyk commented on #81
Hi @VipulM-MSFT, any news?

[2018-03-29 17:02] amanbha commented on #101
Sure @saisworld. The actual method call while executing might be taking less time, but if there are more requests send to the service they need to wait until thread is available to execute it.
Could you look at the service remoting perf counters also when you experience this behavior (https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-serviceremoting-diagnostics#list-of-

[2018-03-30 16:08] suchiagicha commented on #81
@Marusyk

Looks good to me. Would you be interested in making the change?

[2018-03-30 20:45] Marusyk commented on #81
@suchiagicha Of course, I'll prepare PR. Thanks

[2018-04-03 19:15] keggster101020 opened #103 "Question: Polymorphism with actor StateManager"
I've read the documentation on [polymorphism for actors](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-actors-polymorphism) and I had a question on the inheritance of StateManager and state in actors.

Assuming I have an abstract class that is an actor
[code]
And I have other actors that inherit from AnActor.
[code]

I am aware that StatePersistence isn't inherited

[2018-04-04 03:34] hanxinimm opened #104 "Custom StateSerializer For IActorStateManager?"
[code]

![image](https://user-images.githubusercontent.com/13499426/38287214-083b65ca-37fc-11e8-827d-6acd477aa7e2.png)
![image](https://user-images.githubusercontent.com/13499426/38287230-24325f22-37fc-11e8-96b4-41722e7c72b2.png)
![image](https://user-images.githubusercontent.com/13499426/38287237-2e4d5296-37fc-11e8-860c-7497ac5a29c2.png)

[2018-04-04 11:58] cpiitb opened #105 "Not able to access ServiceRemotingServiceEvents in Microsoft.ServiceFabric.Services.Remoting.V2.Runtime namespace"
I am looking for a way to listen ReceiveRequest or SendResponse events while communicating with different services using ServiceRemoting.

Earlier we were able to do that with below events.

ServiceRemotingServiceEvents.ReceiveRequest
ServiceRemotingServiceEvents.SendResponse

These events were available in Microsoft.ServiceFabric.Services.Remoting.V2.Runtime namespace.
Now I am not able to find t

[2018-04-04 16:42] amanbha commented on #103
@keggster101020 answers to questions are below:
1. State is stored in the actor service created for the derived actor type.
2. StatePersistence on base actor is needed if you are not creating a service for it.  If you are creating a service for it and you don't specify the attribute, by default it will use None.

[2018-04-04 16:54] amanbha commented on #104
@hanxinimm The custom serializer which you plugged in is for the transport layer which is working fine.
State stored for actors still needs to be DataContract serializable as seen in the call stack.

[2018-04-04 17:31] keggster101020 commented on #103
@amanbha I'm a little confused on the second answer. If I understand correctly, if the base class is a registered actor it may need the tag if it has it's own state but if it is not a registered actor and just a true base class then it needs the tag?

[2018-04-04 20:09] keggster101020 commented on #103
got it, thanks for the quick replies 😄

[2018-04-04 20:09] #103 closed

[2018-04-05 01:32] alexgman commented on #21
What are the best practices for sharing the actor interface to the consumer? I don't want to have to reference a binary just to get the method signature

[2018-04-05 23:55] amanbha commented on #105
@cpiitb Microsoft.ServiceFabric.Services.Remoting.V2.Runtime.ServiceRemotingServiceEvents was introduced in 3.0.467 version of Microsoft.ServiceFabric.Services.Remoting nuget package and it has been internal since then. Could you please explain where you were able to access this?

[2018-04-06 11:14] jirikopecky commented on #94
Any news? This issue efficiently block us from upgrading Service Fabric SDK libraries in our projects

[2018-04-06 16:32] deepakjangid-MSFT commented on #94
The fix will be available in 2-3 weeks.

[2018-04-06 16:56] amanbha commented on #94
@jirikopecky The fix would be in one of our future releases in coming weeks as suggested by @deepakjangid-MSFT above (can't confirm the exact nuget build number yet.).
Till then as a workaround you can use the older .csproj format instead of the new .net SDK format.

[2018-04-07 12:50] cpiitb commented on #105
@amanbha I saw that AppInsight project for service fabric is doing the same.
Link: https://github.com/Microsoft/ApplicationInsights-ServiceFabric/blob/master/src/ApplicationInsights.ServiceFabric.Native.Shared/RequestTrackingModule/ServiceRemotingServerEventListener.cs

As this event is internal we can't access it. Is there any other way I can call my function whenever service received any request

[2018-04-12 01:15] amanbha commented on #105
These methods are in the hot path of request processing, any delay in these events will impact the performance. These methods are internal only and are made visible to ApplciationInsights binary to enable the functionality, I worked with ApplicationInsights team to ensure that ApplicitonInsight's subscription to these events doesn't block it and process these events in an asynchronous manner. For

[2018-04-12 19:41] amanbha commented on #104
This is not an issue but is the expected functionality, please feel free to open issue fi you still need help

[2018-04-12 19:41] #104 closed

[2018-04-12 19:42] amanbha commented on #101
@saisworld I am closing this issue, please feel free to open issue if you still need help

[2018-04-12 19:42] #101 closed

[2018-04-12 19:45] amanbha commented on #79
related to https://github.com/Azure/service-fabric-services-and-actors-dotnet/issues/94

[2018-04-17 04:34] cpiitb commented on #105
Thanks amanbha. I will give it a try and will update the thread.

[2018-04-18 11:54] cpiitb commented on #105
Thanks amanbha. It works fine. I still have one question.
When service send/recieve IServiceRemotingRequestMessage message.
Can I pre calculate the IServiceRemotingRequestMessageHeader.InterfaceId for a method call?
I saw there is IdUtilHelper class in ApplicationInsight project mentioned above, which is calculating interfaceId. But these two Ids are different.

Can you please let me know if there

[2018-04-18 18:57] amanbha commented on #105
@cpiitb yes, you can extract it as:
var interfaceId = requestMessage.GetHeader().InterfaceId;

[2018-04-18 19:17] cpiitb commented on #105
@amanbha  I know this part. But I want to get the method name.

In below project we are getting it using below statement.

methodName = this.methodNameProvider.GetMethodName(messageHeaders.InterfaceId, messageHeaders.MethodId);

https://github.com/Microsoft/ApplicationInsights-ServiceFabric/blob/master/src/ApplicationInsights.ServiceFabric.Native/Net45/CorrelatingServiceRemotingClient.cs

But It i

[2018-04-18 20:02] amanbha commented on #105
@cpiitb Method name information is not available in requestMessage. ApplicationInsight's  IdUtilHelper.ComputeId which you pointed to is doing reflection to call older methods(used in V1 remoting), the code which you pointed to is using V1 remoting. The correct method to reflect is ComputeIdWithCRC, but that's all implementation detail and prone to change.
It seems like you are trying to do what A

[2018-04-21 04:15] amanbha commented on #78
I am closing this one as we don't intend to expose this property RemotingListener and will remove it in future releases. Please feel free to reopen if you have other concerns.

[2018-04-21 04:30] amanbha commented on #72
Fix for this is in Microsoft.ServiceFabric.Services.Remoting nuget package version >=3.1.262

[2018-04-21 04:30] #72 closed

[2018-04-24 05:34] jfloodnet commented on #78
Sorry for the no reply. My usecase was for debugging, I was upgrading to V2 remoting, and was trying to confirm that the ActorService was indeed running on V2, and that property looked like it would do the trick.

[2018-04-27 01:24] wasabii opened #107 "WebServiceHost support"
There should be a alternative to WcfCommunicationListener that uses WebServiceHost instead, for WCF REST services.

I'm porting existing stuff.

[2018-05-02 11:53] ddimitrov90 opened #109 "Cannot GetActorsAsync in Azure cluster"
Hello,

I am trying to verify that an actor in a stateful persisted actor service has been created in our integration tests. I am using the following snippet:
[code]

This code works without problems on the local environment, however when the cluster is deployed in Azure I receive an exception ( the cluster is with the default setup/firewall/load balancing rules):
1. When the test is ran from VSTS

[2018-05-03 15:59] amanbha commented on #109
@ddimitrov90 You have to be within the cluster to make any Actor/Service remoting call.

[2018-05-03 16:17] ddimitrov90 commented on #109
@amanbha the fabricClient is of course connected to the cluster in the cloud.

i can successfully get the partitions list through the querymanager, but when i call the GetActorsAsync, the above mentioned error occurs

[2018-05-03 16:24] amanbha commented on #109
@ddimitrov90 yes, I understand that. For making actor calls or service remoting calls, the client should be in the cluster.
If you want to query from outside, you will have to add some gateway(it can be an aspnetcore app) in the cluster which can accpet call from outside and can make actor calls on behalf of incoming request.

[2018-05-24 07:12] jirikopecky commented on #94
Hi, are there any updates or ETA for this fix?

[2018-05-24 07:36] deepakjangid-MSFT commented on #94
The new bits are planned to be shipped in a week. Will update this thread when the bits are released.

[2018-05-24 07:53] deepakjangid-MSFT commented on #94
Same as
https://github.com/Azure/service-fabric-issues/issues/930

[2018-05-30 21:03] amanbha commented on #105
@cpiitb I am closing this issue, if you have further questions, please feel free to reopen.

[2018-05-30 21:03] #105 closed

[2018-05-30 21:05] amanbha commented on #58
Please see thsi for further inforamtion on direction Service Fabric is taking for Serverless: https://azure.microsoft.com/en-us/blog/azure-service-fabric-at-microsoft-build-2018/

[2018-05-30 21:05] #58 closed

[2018-05-30 21:16] amanbha commented on #94
Fix available in Microsoft.ServiceFabric.Services.Remoting nuget package version >= 3.1.283

[2018-05-30 21:16] #94 closed

[2018-05-30 21:16] amanbha commented on #79
Fix available in Microsoft.ServiceFabric.Actors nuget package version >= 3.1.283

[2018-05-30 21:16] #79 closed

[2018-05-31 20:58] suchiagicha commented on #81
We have made this fix in 3.2 release . Closing this issue.

[2018-05-31 20:58] #81 closed

[2018-06-11 20:15] Marusyk commented on #81
@suchiagicha OK, but can you explain why did you made this changes without my PR? I've tried to help to project that I'm using. But you just threw away my changes and apply yours that is the same.

[2018-06-22 10:11] antonGritsenko opened #126 "Error when using custom FabricTransportServiceRemotingProviderAttribute"
Hi all

Service Fabric version: 6.0.219

We using custom FabricTransportServiceRemotingProviderAttribute with the following code:

[code]

This class defined in shared assembly, when used in same assembly like this:

`[assembly:ExtendedFabricTransportServiceRemotingProviderAttribute(RemotingListener = RemotingListener.V2Listener, RemotingClient = RemotingClient.V2Client)]`

This shared assembly us

[2018-06-22 17:43] suchiagicha commented on #126
@antonGritsenko
What version of Service Fabric sdk you are using on your dev machine?
I am assuming your dev machine also has SF runtime version as  6.0.219

[2018-06-22 19:04] antonGritsenko commented on #126
@suchiagicha sorry, forgot to mention. SDK version is 2.8.219.9494. And yes, runtime is 6.0.219.9494
BTW, We plan to upgrade it to latest at next week.

[2018-06-22 21:45] suchiagicha commented on #126
@antonGritsenko
I couldn't repro this issue.
How did you found this exception ?
What is your service replica status using below command , what does it show?

PS C:\windows\system32> Get-ServiceFabricApplication|Get-ServiceFabricService|Get-ServiceFabricPartition|Get-ServiceFabricReplica

Could you share your sample with us?

[2018-06-26 22:55] suchiagicha opened #127 "Set the RSP for DummyRemoting Client in V2 stack"

[2018-06-26 22:58] amanbha commented on #107
@wasabii , closing this issue as I have closed PR#108 because of inactivity, please feel free to reopen with updates based on the comments by @suchiagicha

[2018-06-26 22:58] #107 closed

[2018-06-26 23:23] suchiagicha commented on #126
@antonGritsenko
Let me rephrase the question. Is it a firstchance exception /(handled exception) or unhandled exception?

[2018-06-27 08:54] antonGritsenko commented on #126
This is unhandled exception.
BTW, I think it's only occurs when two or more services used same shared library. I still have no time to create repro app, plan to do it later this week.

[2018-06-29 08:41] Expecho opened #128 "Please include MethodName in public interface"
When writing custom message interception it would be really nice if we can do something with the name of the method that is invoked. Currently we have only access to the InterfaceId and MethodId. I see there is a public property MethodName but it is not included in the public interface `IServiceRemotingRequestMessageHeader`. Why is that?

https://github.com/Microsoft/service-fabric-services-and-ac

[2018-06-29 08:46] Expecho opened #129 "Please add CreateNonIServiceProxy to the IServiceProxyFactory interface"
The public interface `IServiceProxyFactory` [here](https://github.com/Microsoft/service-fabric-services-and-actors-dotnet/blob/0e8d0ed6ebd3fa34248fbb050780468f1ce9d744/src/Microsoft.ServiceFabric.Services.Remoting/Client/IServiceProxyFactory.cs ) does not contain the method `CreateNonIServiceProxy` making it hard to use the interface for unit testing purposes if you depend on the `CreateNonIServic

[2018-07-02 17:15] amanbha commented on #128
@Expecho this has been added to [IServiceRemotingRequestMessageHeader](https://github.com/Microsoft/service-fabric-services-and-actors-dotnet/blob/0e8d0ed6ebd3fa34248fbb050780468f1ce9d744/src/Microsoft.ServiceFabric.Services.Remoting/V2/IServiceRemotingRequestMessageHeader.cs) and will be part of the next release.

[2018-07-02 17:45] suchiagicha commented on #129
Sure. Would you be interested in submitting PR?

[2018-07-02 17:57] Expecho commented on #128
Ah great to hear, thanks! (psst … any ETA?)

[2018-07-02 17:58] Expecho commented on #129
Sure, no problem. I'll get to it tomorrow.

[2018-07-02 18:33] antonGritsenko commented on #126
here we go: https://github.com/antonGritsenko/SF.CustomRemoting
Please enable System.ArgumentException in Exception settings

[2018-07-02 20:22] amanbha commented on #128
Tentative date is ~3weeks

[2018-07-02 20:38] #128 closed

[2018-07-03 12:12] robert-gazsi opened #130 "IReliableDictionary.CreateEnumerableAsync filter predicate cannot be combined"
The following code crashes the service process, when calling MoveNextAsync:
[code]
It works if the predicate is not combined.
The error shown in VS Debug output is this:
The program '<...>' has exited with code -1073741819 (0xc0000005) 'Access violation'.

[2018-07-03 12:23] robert-gazsi commented on #130
Actually, it looks like this is not related to Service Fabric:
[code]
The above also causes the process to crash....
Loos like more of a .NET Core issue.
I am using .Net Core 2.1

[2018-07-03 12:34] #130 closed

[2018-07-03 18:24] Expecho commented on #129
I think we are running into problems. The V1 remoting stack does not support the `CreateNonIServiceProxy` method. Most interfaces and classes have a separate V1 and V2 version, except for the single `IServiceProxyFactory` interface that is shared by the internal classes `Microsoft.ServiceFabric.Services.Remoting.V2.Client.ServiceProxyFactory`  and `Microsoft.ServiceFabric.Services.Remoting.V1.Clie

[2018-07-03 21:55] suchiagicha commented on #129
Sounds good  :)

[2018-07-05 13:38] aaubry opened #132 "Build error if AssemblyName is changed"
When I change the assembly name of my actor project, the build fails with the following error:
[code]

This is because [`Microsoft.ServiceFabric.Actors.targets` uses the `MSBuildProjectName` property](https://github.com/Microsoft/service-fabric-services-and-actors-dotnet/blob/b19956611ca2022c64551ccca54c50277e18422a/src/netstandard/FabActUtil/Microsoft.ServiceFabric.Actors.targets#L16) to calculat

[2018-07-05 21:30] veatcha commented on #96
@amanbha Can you provide any insight into the comment about a replica density of ~80 per node?

I wasn't sure if that was specific to the VM SKU listed above, or if that's a general best practice.

We have experienced these same errors recently, not at all during normal operation, just during upgrades.  And while our nodes are never burdened from a CPU/RAM perspective (they are doing very lightwei

[2018-07-06 20:12] #129 closed

[2018-07-10 19:28] #132 closed

[2018-07-11 17:55] veatcha opened #136 "Question: Looking for guidance on replica density"
I'm looking for some guidance in terms of replica density on our Service Fabric cluster after reading the comments on [another issue](https://github.com/Microsoft/service-fabric-services-and-actors-dotnet/issues/96) - specifically are there guidelines we should be aware of and/or specific things we can monitor for getting some visibility?

We've seen messages of this variety with more frequency la

[2018-07-11 18:06] amanbha commented on #136
@veatcha  During an upgrade an entire Upgrade Domain(UD) can be down. So if you have 20 nodes across 4 Upgrade domains, 5 nodes in one UD can be down so you will have to account for replica density during the upgrades as well. There is no hard limit on # of replicas, its upper bounded by physical resources. But what I have observed that, try to keep replica density to ~80(account for one UD down h

[2018-07-18 13:30] alexmg opened #138 "Service Fabric NuGet package references use exact version matching"
The Service Fabric NuGet packages such as `Microsoft.ServiceFabric.Actors` and `Microsoft.ServiceFabric.Services` are pinned to exact versions which is causing some headaches for consumers of the `Autofac.ServiceFabric` package as can be seen in issue autofac/Autofac.ServiceFabric/issues/18.

`Autofac.ServiceFabric` contains references to the following package references:

- `Microsoft.ServiceFabr

[2018-07-20 18:29] suchiagicha commented on #127
Fixed  https://github.com/Microsoft/service-fabric-services-and-actors-dotnet/pull/137

[2018-07-20 18:29] #127 closed

[2018-07-20 18:32] suchiagicha commented on #126
@antonGritsenko
Why you need to enable any Exception in ExceptionSettings?
What happens if you dont?
If you are not seeing exception without enabling it  , it means its a handled exception.

[2018-07-21 06:30] hanxinimm opened #141 "Could not load type 'Microsoft.ServiceFabric.Services.Remoting.RemotingListener'"
System.TypeInitializationException: The type initializer for 'Security.ActorModel.RegisterActor' threw an exception. ---> System.TypeLoadException: Could not load type 'Microsoft.ServiceFabric.Services.Remoting.RemotingListener' from assembly 'Microsoft.ServiceFabric.Services.Remoting, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35'.
   at System.Reflection.CustomAttribute._GetP

[2018-07-23 09:05] davebally commented on #141
Having the same problem,  Service that connection to another service works fine under "Microsoft.ServiceFabric.Services.Remoting" Version="3.1.301"
Upgrade to 3.2.162 and get
"Message="Could not load type 'Microsoft.ServiceFabric.Services.Remoting.RemotingListener' from assembly 'Mic..."
"

[2018-07-23 17:38] amanbha commented on #141
@hanxinimm Which library has the type Security.ActorModel.RegisterActo, Is this also rebuilt with 3.2.162 version of Microsfot.ServiceFabric.Services.Remoting

@davebally  Could you also please share the call stack, is the code also using another library which uses
Microsfot.ServiceFabric.Services.Remoting like in the case of @hanxinimm

[2018-07-23 17:55] amanbha commented on #138
@alexmg SF team only support exact version match because of compatibility issues between different versions, In this case If a user is using Autofac, all the dependencies should come through Autofac as transitive dependencies. If they are also added explicitly as dependencies then nuget is showing this error, but nuget should not show this error because your package is specifying dependency as >=.

[2018-07-23 18:40] davebally commented on #141
@amanbha

Yes, we are using another library presently built with 3.1.301. Upgrading both service ( the RPC clientr ) and library to 3.2.162 has same effect

`Could not load type 'Microsoft.ServiceFabric.Services.Remoting.RemotingListener' from assembly 'Microsoft.ServiceFabric.Services.Remoting, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35'.
`

Stack trace ;

`  at System.Refl

[2018-07-23 18:52] amanbha commented on #141
@davebally Looks like you are using Reflection to find it. The type has been renamed to allow for fixing of Serialization related issues in V2 remoting stack, if it wasn't for Reflection, it would have been a compile time error. Its renamed to RemotingListenerVersion.
Please see: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-services-communication-remoting#how-to-us

[2018-07-23 19:01] davebally commented on #141
@amanbha Erm..   Im not using reflection,  im just using Microsoft.ServiceFabric.Services.Remoting.Client.ServiceProxyFactory.CreateServiceProxy that calls Microsoft.ServiceFabric.Services.Remoting.ServiceRemotingProviderAttribute.GetProvider which uses reflection...  Or am i missing something ?!?

[2018-07-23 19:12] amanbha commented on #141
@davebally  oh ok, got it, sorry, I misread the stack. Looks like some mismatch somewhere. Could you please check how are you specifying the FabricTransportServiceRemotingProvider for your RemotingInterface.

[2018-07-23 20:43] davebally commented on #141
@amanbha Ah, the interface is defined in the library.  Not sure how but after upgrading it wasnt fully recompiling , after a clean then there were compile errors on :
`[assembly: FabricTransportServiceRemotingProvider(RemotingListener = RemotingListener.V2Listener, RemotingClient = RemotingClient.V2Client)]`
which needed changing to :
`[assembly: FabricTransportServiceRemotingProvider(RemotingClie

[2018-07-23 20:49] amanbha commented on #141
@davebally, glad its working now for you. Yes, RemotingListener, RemotingClient  have been replaced by RemotingListenerVersion, and RemotingClientVersion to allow for fixing of some serialization issues in V2 remoting stack.

[2018-07-24 01:54] hanxinimm commented on #141
@amanbha

it doesn't work for me.

 my code:

![image](https://user-images.githubusercontent.com/13499426/43112164-3c529108-8f27-11e8-9b95-eeca39f255bb.png)
![image](https://user-images.githubusercontent.com/13499426/43112169-4a8a1282-8f27-11e8-91de-55d08485138f.png)
![image](https://user-images.githubusercontent.com/13499426/43112175-597d11cc-8f27-11e8-9501-947bdc85cbcc.png)
![image](https://user

[2018-07-24 02:09] amanbha commented on #141
@hanxinimm  Could you share code snippet where is Security.ActorModel.RegisterActor defined and if its compiled with latest version of nuget package?

[2018-07-24 09:17] hanxinimm commented on #141
I found the reason,
![image](https://user-images.githubusercontent.com/13499426/43128692-33eef720-8f65-11e8-8943-e7f57e0c3cd8.png)
the IIDCreatorActor interface is old version
I forgot to upgrade it

[2018-07-24 16:36] amanbha commented on #141
@hanxinimm  Glad to know its working for you, will close this issue.

[2018-07-24 16:36] #141 closed

[2018-07-24 18:32] amanbha commented on #61
Closing due to lack of responses on this, please feel free to reopen. SF team is not planning to provide F# support for the programming models.

[2018-07-24 18:32] #61 closed

[2018-07-30 05:41] ifle commented on #138
The Microsoft.ServiceFabric.Services (3.2.162) package
 ---- use **Microsoft.ServiceFabric.Diagnostics.Internal (3.2.162)**
Microsoft.ApplicationInsights.ServiceFabric.Native( 2.1.1)
 ---- use Microsoft.ServiceFabric.Services.Remoting (3.0.467)
 ---- ----  use **Microsoft.ServiceFabric.Diagnostics.Internal (3.0.467)**

How to resolve this issue?

[2018-08-02 22:31] amanbha commented on #138
@ifle Are you using the new VS project system? It seems like a nuget behavior change.

[2018-08-03 04:12] ifle commented on #138
Related to Microsoft/ApplicationInsights-ServiceFabric#79

[2018-08-03 15:52] veatcha commented on #136
Thanks @amanbha

[2018-08-03 15:52] #136 closed

[2018-08-23 11:36] dan-zetea commented on #132
Do you have any info regarding which version of SF will contain this fix?

[2018-08-31 06:47] VipulM-MSFT commented on #48
@grahamehorner - is this feature still required or where you able to make your scenario work. Apologies for the significantly large delay in the response. We are prioritizing some of the work and wanted to know if we can consider this now.

[2018-08-31 06:50] VipulM-MSFT commented on #35
@Jm-Fox - do you still need this feature? @amanbha - can the PR be modified to provide the needed enhancement without sacrificing the turn based concurrency?

[2018-08-31 13:28] Jm-Fox commented on #35
Actually, no, I don't still need this feature. I'll go down one of the two following paths:

1. Implement my game loop critical code in a partitioned StatefulService instead of an Actor
2. Implement game loop evaluation lazily instead of proactively. So instead of calculating the state at 60hz, run simulations for .5 seconds if no method was called for .5 seconds.

Currently I'm leaning towards (1

[2018-08-31 15:55] amanbha opened #146 "Move IService and IActor to seperate NuGet packages"
Tracking the issue https://github.com/Microsoft/service-fabric/issues/179#issuecomment-417570935

As per original issue by @Scythen

If using remoting, every time the Service Fabric SDKs are released every service must be upgraded due to IService and IActor dependencies.
I don’t believe this should be required because the underlying serialization and messaging is compatible. If IService and IActor

[2018-08-31 16:04] amanbha commented on #35
Thanks for confirming @Jim-Fox, I will close this issue as the PR has already been closed.

[2018-08-31 16:04] #35 closed

[2018-09-04 20:19] christofferjerrebo opened #147 "FileNotFoundException when using custom serializer"
We recently upgraded from 3.1.301 to 3.2.176 and noticed that the Microsoft.ServiceFabric.Services.Remoting.V2 interfaces have changed. We changed our custom serializer following this guide: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-services-communication-remoting#how-to-use-custom-serialization-with-remoting-wrapped-message

However, now we are getting the foll

[2018-09-04 22:30] amanbha commented on #147
@christofferjerrebo Could you please clarify if you started seeing this exception after changing your serializer when you upgraded to 3.2.176 and it was working fine before it? Would it be possible to point to changed code?

[2018-09-05 09:27] christofferjerrebo commented on #147
@amanbha Yes we started seeing this exception after upgrade to 3.2.176 and changing the serializer. Before this, the serialization worked fine. I'll include the commit diff, hope this helps.

[code]

[2018-09-05 12:00] christofferjerrebo commented on #147
The `ServiceInstanceListener` for each service created with:
[code]
The `ServiceProxyFactory` for our Web API gateway is created using:
[code]

[2018-09-05 22:19] VipulM-MSFT commented on #147
The wrapped messages allows the interface compatibility with the V1 remoting stack. If you had object the parameter, the unwrapped messages would not work.

[2018-09-06 07:13] christofferjerrebo commented on #147
Since we don't need interface compatibility I switched off wrapped messages. The serialization is more or less the same as previous. It works now, closing this issue.

[2018-09-06 07:13] #147 closed

[2018-09-11 16:55] amanbha commented on #48
@grahamehorner I am closing this issue, please reopen if this feature is still required. Please provide the scenario, which can't be accomplished by using StateProvider at Actor service layer.

[2018-09-11 16:55] #48 closed

[2018-09-14 12:00] lindgrend opened #149 "Actor reminders not being triggered"
**Describe the bug**
On our production environment we are noticing that sometimes Actor reminders are not being received.
We have created a small project that creates actors and sets reminders this was running fine for 4 days but then we saw the same kind of behaviour there.

[Failing reminders](https://ibb.co/ewM3QU)

Both booleans should be true if both the single reminder as well as where the r

[2018-09-14 18:02] amanbha commented on #149
@lindgrend Seems like, you have reached out to Microsoft Support team regarding this issue, I will follow up on the incident through the support team. If that's fine, I will close this use.

[2018-09-17 20:48] opsydev opened #150 "dotnet build fails on linux with Service fabric actors enabled."
**Describe the bug**
running dotnet build on official microsoft/dotnet docker images fails with

[code]

**To Reproduce**
Create a project with Service fabric actors as a dependency and run a dotnet build on the docker container.

**Expected behavior**
The build should pass.

**Additional context**
I think I have narrowed down the problem to this file

https://github.com/Microsoft/service-fabric-s

[2018-09-17 21:01] amanbha commented on #150
@opsydev Thanks for reporting, I will take a look at this. As a work around, to unblock your self: if you have application manifests and service manifests updated form a build on Windows for this project, you can use and set the property to UpdateServiceFabricManifestEnabled to false in .csproj for the Actor.

[2018-09-17 21:05] opsydev commented on #150
I am more of a systems engineer on this project, so not super sure of what you mean there. :)

Our build process is all on linux docker containers. I'll forward the feedback to the appropriate people!

[2018-09-20 18:47] RamjotSingh opened #151 "Feature Request : IConfiguration support for Service Fabric Configuration"
**Is your feature request related to a problem? Please describe.**
ASP.NET Core supports IConfiguration based configuration providers making it easy to bring together configuration from multiple sources.

**Describe the solution you'd like**
Service fabric official solution to access SF configuration using IConfiguration

[2018-09-20 18:57] amanbha commented on #151
This is tracked in Service Fabric aspnet core repo https://github.com/Microsoft/service-fabric-services-and-actors-dotnet/issues/151

[2018-09-20 18:57] #151 closed

[2018-09-28 22:27] amanbha commented on #149
@lindgrend I have requested Microsoft support team to setup a phone call so that we can go over this and understand your design  as that would be the fastest way as compared to emails, so will resolve it using the support route, will close this issue, please feel free to open this  if you have any further questions.

[2018-09-28 22:27] #149 closed

[2018-10-12 15:27] IvanAlekseev opened #152 "Custom serialization using wrapped messages results in error"
**Describe the bug**
Following a [guide](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-services-communication-remoting#upgrade-from-remoting-v1-to-remoting-v2-interface-compatible) on custom serialization in v2 with wrapped messages results with error
[code]

INewService is an interface for my service fabric reliable service defined in NewServiceClient project. I am

[2018-10-13 23:06] orestisp opened #153 "WCF client/listener on .net core application"
I'm trying to setup a WCF listener on a .net core Actor service and a WCF client on an asp.net core web app.
 However, WcfActorServiceRemotingListener and WcfActorRemotingClientFactory take in as parameter the System.ServiceModel.Channels.Binding class, which is part of a .NET framework assembly.  Referencing the .NET core version of System.ServiceModel is not working because it has missing fields

[2018-10-14 13:12] orestisp opened #154 "Custom serialization provider - caching"
Looking at ServiceRemotingMessageSerializersManager.cs, it seems to be caching the created body serializers based on interfaceId.

I'm using a custom serialization provider (IServiceRemotingMessageSerializationProvider) and I get calls to create serializers for every request, even if interfaceId is the same.  Is this expected?  Should I implement caching on the provider?

The stack trace that lead

[2018-10-15 17:50] amanbha commented on #153
@orestisp  WCF is not supported on .net core.

[2018-10-16 03:40] VipulM-MSFT commented on #154
The caching is performed at the proxy factory level, if the proxy factor is recreated, it will recreate the serialization manager and hence the serializers.

[2018-10-17 06:54] VipulM-MSFT commented on #152
@IvanAlekseev - would it be possible to share the code?

[2018-10-17 06:58] VipulM-MSFT commented on #152
@amanbha / @BharatNarasimman - can you please take a look?

[2018-10-17 07:04] VipulM-MSFT commented on #152
@IvanAlekseev  - is the interface defined in more than one assembly by any chance?

[2018-10-17 16:40] amanbha commented on #152
@IvanAlekseev  Could you share a sample repo project with your custom serializer and types.

[2018-10-17 16:40] #153 closed

[2018-10-17 16:59] orestisp commented on #154
Thank you.  I mistakenly assumed that the serializes being created was on the server side.  By using a single instance of the proxy factory the serializes are cached as expected.

[2018-10-17 16:59] #154 closed

[2018-10-29 02:16] Adebeer commented on #138
I find this quite annoying too. I can't use VS tooling to install/config app insights as Nuget fails to restore packages due to conflicts - which causes the tooling to abort the setup. As such, I basically have to resort to manually editing csproj and config files.

In my case, I've just created a brand new SF Core 2.1 stateless service in VS2017 15.8.8, Microsoft Azure Service Fabric Tools for VS

[2018-10-29 17:42] suchiagicha commented on #152
@IvanAlekseev
From your client code snippet , looks like you are not  plugin custom serialization on client side.
Please check the below code to do the same. and then use below proxy factory to create proxy[ instead of using ServiceProxy.Create which in turn uses default serialization.

var proxyFactory = new ServiceProxyFactory((c) =>
{
    return new FabricTransportServiceRemotingClientFactory(

[2018-10-30 10:44] lusocoding opened #155 "Service Fabric Application settings not being overriden by Application Manifest parameters"
Need some help understanding why the configuration settings of a service fabric application aren't being overriden by the values defined in the application manifest, as expected. Curently I have some settings defined for my two different environments: the default settings are for the final Azure cluster and I have a custom publish profile for my local dev cluster.

Below what I have for each file:

[2018-10-30 21:12] suchiagicha commented on #155
@lusocoding
This is a known issue and has been fixed in  next sdk release (3.3) .
For the workaround , you can use below Api's to read these settings from config package and then create FabricTransportSettings programmatically.

var configurationPackage = Context.CodePackageActivationContext.GetConfigurationPackageObject("Config");
var maxMessageSize = configurationPackage.Settings.Sections["Trans

[2018-10-31 08:59] lusocoding commented on #155
Hi @suchiagicha, thanks for the reply. Is there any estimate on the release date for the v3.3?

[2018-10-31 21:16] suchiagicha commented on #67
Because  of no communication , am closing this issue. Feel free to open it if you are still seeing this issue.

[2018-10-31 21:16] #67 closed

[2018-10-31 21:32] suchiagicha commented on #126
Closing this issue as there is no communication .

[2018-10-31 21:32] #126 closed

[2018-10-31 21:43] suchiagicha commented on #146
In remoting V2 , we have a way to create remoting service without marking interface types with IService.
These are the Apis to be used
[Service Dispatcher](https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicefabric.services.remoting.v2.runtime.serviceremotingmessagedispatcher.-ctor?view=azure-dotnet#Microsoft_ServiceFabric_Services_Remoting_V2_Runtime_ServiceRemotingMessageDispatcher__cto

[2018-11-01 09:45] dronkoff commented on #67
Why did you close it?
Do WcfCommunicationListener now supports transaction?

[2018-11-19 16:04] olivergrimes opened #156 "Microsoft.ServiceFabric.Services.Wcf package targeting core 2.1"
I'd like to use the `Microsoft.ServiceFabric.Services.Wcf` package in a netcoreapp.

When using the nuget package in a service fabric project that references netcoreapp2.1, I get the following warning:

`Warning	NU1701	Package 'Microsoft.ServiceFabric.Services.Wcf 3.2.187' was restored using '.NETFramework,Version=v4.6.1' instead of the project target framework '.NETCoreApp,Version=v2.1'. This pac

[2018-11-19 20:03] VipulM-MSFT commented on #156
@olivergrimes WCF server side is not supported on .NET core. See https://github.com/dotnet/wcf/issues/1200

[2018-11-20 08:33] olivergrimes commented on #156
@VipulM-MSFT thanks for your response.  In which case, how about splitting the server and client side aspects of this library into two separate packages?  At least then I could still target core on the client service.

[2018-11-21 00:31] VipulM-MSFT commented on #156
You can open a feature request; if you would like to help feel free to discuss the changes and submit the PR. @suchiagicha  and @amanbha as FYI.

[2018-11-22 04:03] amanbha commented on #152
@IvanAlekseev  Did you get a chance to try the changes as suggested above.

[2018-11-22 04:09] amanbha commented on #32
@BrainSlugs83 Reg. the nuget package for a cosmos db state provider, you can contribute to this repository. Initially it can be shipped as a preview package while we iron out the issues and later can be released as a supported package.

[2018-12-04 16:14] AdamPliska commented on #48
It’d be nice to be able to map ActorId with a real world AssetId, for example, say I am using the actor pattern for an IOT solution. Each actor corresponds to a real world IOT device. The devices are indexed, Device1, Device2, Device3, Device4, etc. to insure an even distribution of the AssetId I’d use AssetId.CreateRandom, and then store the corresponding Device (Device1 for example) with the ran

[2018-12-05 15:07] tbertenshaw opened #159 "NamedEndpoint V2Listener not found in the address '{"Endpoints":{"V2_1Listener":"...."
**Describe the bug**
When trying to get `ActorInformation` using an ActorServiceProxy it seems to implement a ServicePartitionClient2 which appears to be incompatible with RemotingClientVersion.V2_1

Below you can see where it blows up
![image](https://user-images.githubusercontent.com/2010002/49520912-2d190080-f89c-11e8-9ae9-bb5b6c79a229.png)

and here you can see the properties on the proxy
![im

[2018-12-05 23:14] amanbha commented on #159
please use ServiceProxy.Create<IActorService>()

[2018-12-06 06:14] tbertenshaw commented on #159
so the pattern in this repo is no longer supported?
[service-fabric-dotnet-getting-started](https://github.com/Azure-Samples/service-fabric-dotnet-getting-started/blob/master/src/GettingStartedApplication/WebService/Controllers/ActorBackendServiceController.cs#L48)

[2018-12-06 17:54] amanbha commented on #159
@tbertenshaw That pattern is supported as well, let me try to repro and look into whats going in the scenario you explained above.

[2018-12-06 19:53] tbertenshaw commented on #159
hi @amanbha yeah the change below worked.... when the subsequent GetActorsAsync was called.

[code]

[2018-12-07 14:36] tbertenshaw commented on #159
@amanbha  have you managed to replicate the issue or do you want a repro?

[2018-12-07 18:51] tbertenshaw commented on #159
Hi @amanbha , clone the repo, press f5 then navigate the the endpoint home/GetAsync  and you hopefully so reproduce the error.

 https://github.com/tbertenshaw/ActorRepro

[2018-12-07 19:22] amanbha commented on #159
@tbertenshaw  Thanks for sharing it, I will look at tit, just want to make sure that you are not blocked and you can use ServiceProxy.Create to workaround this.

[2018-12-07 19:52] tbertenshaw commented on #159
Yeah thanks serviceproxy worked for me

On 7 Dec 2018 19:22, Aman Bhardwaj <notifications@github.com> wrote:

@tbertenshaw<https://github.com/tbertenshaw> Thanks for sharing it, I will look at tit, just want to make sure that you are not blocked and you can use ServiceProxy.Create to workaround this.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on Git

[2018-12-09 17:58] orestisp opened #162 "ASP.NET Core Actor Service"
When adding a new service fabric service, there are five templates to choose from:
1.  Stateless Service
2.  Stateful Service
3.  Stateless ASP.NET Core Service
4.  Stateful ASP.NET Core Service
5.  Actor Service

Is it possible to add an ASP.NET Core Actor Service?  The use case is to have an actor service that exposes a REST API as an interface to it's actors methods.  If yes, it would be nice t

[2018-12-10 19:34] amanbha commented on #162
@orestisp ASP net core request processing pipeline is different than Actors, For making actor calls you need to determine the partition id to which the request must be routed to, what you mentioned about having an Aspnetcore service calling into an actor service is the best option.

[2018-12-10 19:41] suchiagicha commented on #159
@tbertenshaw
This doesn't  work for you as we check attribute at interface level and if not found then assembly level.
IActorService interface wont be having these attribuites and default we select V2 for Actors.
Correct way would be to add Assembly attribute at assembly level instead of interface level for your usecase.

[2018-12-10 21:03] tbertenshaw commented on #159
Is this a bug? I generated the actor from file new project, it added the attribute to the interface.

From: suchiagicha <notifications@github.com>
Sent: 10 December 2018 19:41
To: Microsoft/service-fabric-services-and-actors-dotnet <service-fabric-services-and-actors-dotnet@noreply.github.com>
Cc: timbo <tbertenshaw@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [Microsoft/service

[2018-12-10 21:08] suchiagicha commented on #159
@tbertenshaw
Its not a bug. You are using IActorService interface but you don't have any attributes on it.
Hence for these kind of interface , you should do assembly level attributes instead of interface.

[2018-12-10 21:33] tbertenshaw commented on #159
So its not a vs tooling bug then? Am I missing something or should there be documentation on this? It doesn’t seem intuitive.

[2018-12-11 17:57] suchiagicha commented on #159
@tbertenshaw
Just to be clear , you should be adding  attribute to your entry assembly  like your client process .
No its not a bug. We don't generate template for IActorService.  We will update the documentation with this info. Thanks for the feedback.

[2018-12-11 19:36] amanbha commented on #152
@IvanAlekseev I am closing it because of lack of response, please feel free to reopen if you still need help with this.

[2018-12-11 19:36] #152 closed

[2018-12-11 19:36] #155 closed

[2018-12-14 15:47] rtaum opened #164 "Missing method exception"
**Describe the bug**
I'm getting MissingMethodException exception on this code
`           OperationRetrySettings retrySettings = new OperationRetrySettings(backoffInterval, backoffInterval, maxRetryCount);
           return new ServiceProxyFactorySingleton((c) =>
           {
              return new FabricTransportServiceRemotingClientFactory();
           }, retrySettings);`
It complains about

[2018-12-14 18:16] rtaum commented on #164
Ok, I was actually using OperationRetrySettings  from Microsoft.ServiceFabric.Services.Remoting nuget. After switching to https://www.nuget.org/packages/Microsoft.ServiceFabric.Actors/ it has gone.

[2018-12-14 18:16] #164 closed

[2018-12-18 19:49] suchiagicha opened #166 "Aggresive Retry for Resolve calls in Microsoft.ServiceFabric.Services Code"
**Describe the bug**
Aggresive Retry for Resolve calls in Microsoft.ServiceFabric.Services . This leads to high cpu for Client Process as well as Fabric.Exe and FabricGateway.exe process on the same node.

**To Reproduce**
This code gets executed when service communication error is happening. This can happen mostly when there is a service failover/re-config and new endpoint for that service is not

[2018-12-19 08:14] enemaerke commented on #166
Is this same fix also ported to 3.3.622?

[2018-12-19 18:13] suchiagicha commented on #166
@enemaerke
Not yet. We are working on it.

[2018-12-20 03:06] MattHartz commented on #52
Any update on this?

[2018-12-21 07:56] #162 closed

[2018-12-27 18:38] suchiagicha commented on #166
@enemaerke
I have updated the package version for 3.3 release also in the above description.

[2019-01-03 16:41] rfcdejong commented on #147
@christofferjerrebo We run into the same error as you, how did you switched off wrapped messages?

[2019-01-08 09:49] christofferjerrebo commented on #147
Basically we used the old implementation of the service remoting. Using the "Custom serialization" implementation from https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-services-communication-remoting#use-custom-serialization-with-a-remoting-wrapped-message, the changes are on `JsonMessageFactory` and when creating a `ServiceProxyFactory`.

[code]

Make sure you remove

[2019-01-15 13:12] rfcdejong commented on #147
@christofferjerrebo We had many issues serializing over Json, the wrapped functionality of Service Fabric sample is simply not working when type information is required. We ended up writing a lot of custom stuff for:

- SerializationBinder (based on https://github.com/Microsoft/Bing-Maps-Fleet-Tracker/blob/master/Backend/src/Trackable.Func/Shared/AdvancedSerializationBinder.cs from a Microsoft emp

[2019-01-17 16:00] Liversage opened #169 "Cannot rename reliable actor service type"
I'm having this issue with Service Fabric SDK 3.3.622 and Visual Studio 15.9.5.

Here are steps to recreate my issue:

- Create a new Service Fabric Application (.NET Framework 4.7.2) in Visual Studio
- Select the .NET Core Actor Service template
- Build the solution
- Debug on a 1 node local cluster and verify that the service works

So far so good. Now I want to make some changes to the boilerpl

[2019-01-17 17:45] Liversage commented on #169
I just tried to rename my actor type which immediately broke my service. It seems that this hidden name dependency is between the name of the actor type and the "magic" names used in `ServiceManifest.xml`.

I could of course turn on the automatic updating of the manifests but 1) I lose all control over names including the service name and 2) to me it is a very jarring experience that source files

[2019-01-17 17:52] amanbha commented on #169
Yes, there is a correlation between the names generated in the manifests and name used by Actor runtime for various settings. Please don't remove UpdateServiceFabricManifestEnabled from the .csproj. There is a utility which runs during the build to update manifests with correct names.

[2019-01-19 17:52] hanxinimm commented on #146
What about  custom  serialization interface nuget?

[2019-01-22 08:33] DOliana commented on #138
Are there any news on this? The same applies when using Microsoft.ApplicationInsights.ServiceFabric.Native 2.2.2 in a SF Core 2.1 stateful service:
[code]

[2019-01-22 17:21] amanbha commented on #150
@kentcb , yes, the config needs to be generated once before disabling the option as I mentioned in my comment above.

[2019-01-25 17:48] kulkani opened #171 "Calling StateManager.SetStateAsync with a base template type and derived class instance fails silently when called from an IActorReminder"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps or code snippet to reproduce the behavior.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2019-01-25 17:55] amanbha commented on #171
@kulkani  please provide the repro service.

[2019-01-25 17:58] kulkani commented on #171
Calling the below code from a IActorReminder - there is no indication of problem with serialization if we unregister from the reminder right after.

await StateManager.SetStateAsync<Exception>("exceptionName", new AggregateException(new[] { new Exception("1"), new Exception("2") }));

This causes us to think the state got saved, but when we query for it (in a different method/IActorReminder) we se

[2019-01-25 18:11] amanbha commented on #171
StateManager.SetStateAsync marks that the state is modified and needs to be saved. The state is actually saved when SaveStateAsync is called (either explicitly by user code, or by runtime after each method/reminder/timer call, when runtime calls it implicitly after the call). All states which you stored must be data contract serialzable.

[2019-01-25 18:15] kulkani commented on #171
Yes I get that. But in this case I expected the runtime to implicitly call SaveStateAsync and throw an exception after the call - which does not happen. Does that help ?

[2019-01-25 18:16] kulkani commented on #171
And I suspect the reason its not called implicitly is because I unregistered the reminder in that same call.

[2019-01-25 18:54] kulkani commented on #171
I and Aman talked about this offline and looked at it more. Unregistering from IActorReminder is irrelevant.
The serialization exception is not bubbled up to the developer in the reminder. So the developer has no way of knowing why SaveStateAsync is not working.

Either the exception needs to be bubbled up or documentation needs to say that ISyncActor.SaveStateAsync is required when setting state

[2019-01-25 19:07] amanbha commented on #171
The exception from implicit call to SaveStateAsync by runtime is bubbled up to the caller, which in case of Reminders is the actor runtime itself, so it catches it and traces it, since the caller is runtime itself, it cant be bubbled to user code, user can only see if it explicitly calls SaveStateAsync.
I agree the document can be more clear in this aspect, We will update the documentation to clar

[2019-01-25 19:22] kulkani commented on #171
" it cant be bubbled to user code, user can only see if it explicitly calls SaveStateAsync." - Can it not be bubbled up such that it shows up under debugging ? Or under a try catch ?

Currently there is no way for the developer to get at that exception. Having different set of rules around when SaveStateAsync is necessary versus optional (in documentation) helps but is not ideal as other people ma

[2019-01-25 19:57] amanbha commented on #171
Please ensure that the state you are saving is DataContractSerializable.
While debugging, enabling first chance exception should show this to you.

[2019-01-25 20:06] kulkani commented on #171
"While debugging, enabling first chance exception should show this to you" - Didn't we just check on my machine that this is not the case if SaveStateAsync is not called explicitly ?

[2019-01-25 21:05] amanbha commented on #171
Please check your VS settings.

[2019-01-25 21:12] amanbha commented on #171
We will update the doc, keeping it open until doc is fixed.

[2019-01-25 21:15] kulkani commented on #171
Thanks

[2019-01-25 21:20] amanbha commented on #171
@kulkani This is the code where ActorRuntime is catching exception (and tracing it) from Reminder call and implicit SaveStateAsync.  https://github.com/Microsoft/service-fabric-services-and-actors-dotnet/blob/develop/src/Microsoft.ServiceFabric.Actors/Runtime/ActorManager.cs#L448

[2019-01-25 21:42] kulkani commented on #171
Here are a few ways on how to bubble up the errors.

1) Create a overload of SetStateAsync that takes a callback which is fired if there is any error in saving that piece of state. Without further thinking - this would be the least recommended option since it would be specific to each piece of state.

2) Create an overload of RegisterReminderAsync that takes a second CallBack which is called if th

[2019-01-25 22:02] amanbha commented on #171
Thanks @kulkani for the suggestions, option 3 would be the best option, but it must happen under the same concurrency lock. Please update the issue title and the template with this info.
Also, please feel free to contribute to the repo to help the community.

[2019-01-31 19:43] xperiandri commented on #147
@christofferjerrebo, thanks! It works perfect!

[2019-02-08 10:14] niranjanbohra opened #173 "DeleteActorAsync doesn't delete the Actor"
**Describe the bug**
We create the Actor with custom json serialize

        public IItemActorService GetActor(string organizationId, string actorId)
        {
            var actorProxyFactory = new CustomActorProxyFactory(serializationProvider: new ServiceRemotingJsonSerializationProvider());
            return actorProxyFactory.CreateActorProxy<IItemActorService>(new Uri(LiveWorkItemActorConsta

[2019-02-08 17:33] amanbha commented on #173
@niranjanbohra Could you explain in more detail, is the actor not getting deleted? How is that determined?

[2019-02-09 01:23] niranjanbohra commented on #173
When we call a method of actor first time when actor was not created, It create a instance of actor, Means it hit the constructor of Actor. But next call on-wards it doesn't hit the constructor of actor as instance is already created so it just hit the method. So we are deleting the actor and then calling a method on it, and that time it doesn't hit the constructor it just call the method director

[2019-02-09 01:29] amanbha commented on #173
@niranjanbohra How far apart are delete calls and the second call after that. Are these both calls made from the same client code one after another, or these calls are made from different clients? If from different clients, the calls can get executed on server in any order. Basically we want to understand how did you determine that the actor was actually deleted?

[2019-02-19 06:05] niranjanbohra commented on #173
This is how we delete Actor instance and it throws datacontract serialize.  We didn't get a way to create ActorServiceProxy with custom serialize.
            var actorToDelete = new ActorId($"{organizationId}_{serviceActorId}");
            var myActorServiceProxy = ActorServiceProxy.Create(new Uri(LiveWorkItemActorConstants.ServiceURI), actorToDelete);
            myActorServiceProxy.DeleteActor

[2019-02-19 09:42] niranjanbohra commented on #173
Inner Exception :
"Unable to find a constructor to use for type Microsoft.ServiceFabric.Actors.ActorId. A class should either have a default constructor, one constructor with arguments or a constructor marked with the JsonConstructor attribute. Path 'value.actorId.Kind', line 1, position 408."}	System.Exception {Newtonsoft.Json.JsonSerializationException

at Microsoft.ServiceFabric.Services.Commun

[2019-02-19 18:18] amanbha commented on #173
@niranjanbohra You can create a proxy with custom serializer as follows:
[code]

It looks like you are using Newtonsoft, so you will have to rely on custom converter for it which handles ActorId.

[2019-02-22 12:01] pksorensen commented on #59
Another project where build wont generate.

When i try myself in powershell to run the FabActUtil i am getting the following error.

Any ideas to why?

[code]

[2019-02-22 12:24] pksorensen commented on #59
If i change my project to output win10-x64 runtime dependant.

I get:

PS C:\dev\AscendXYZ\Ascend.Wammo.RadarIngestor\apps\Ascend.Wammo.RadarIgestor.ServiceProvider> dotnet "obj\\FabActUtilTemp\FabActUtil.dll" /spp:"PackageRoot" /t:manifest /sp:"" /in:"bin\Debug\netcoreapp2.2\win10-x64\\Ascend.Wammo.RadarIngestor.ServiceProvider.dll" /arp:"C:\dev\AscendXYZ\Ascend.Wammo.RadarIngestor\apps\Ascend.Wa

[2019-02-22 13:31] PepijnGramberg opened #174 "Unsubscribe actor events when actorservice is deleted"
The UnsubscribeAsync for actor events is behaving in a way that is not directly logical when the actor service is deleted.
The following code is used to unsubscribe from an actorevent channel.
[code]
When this code is called and the ActorService does not exists any more the exception is thrown as shown below. This exception is logical, as it specifically tells us the service does not exist.
[code]

[2019-02-26 22:12] kasturisameer commented on #138
Severity	Code	Description	Project	File	Line	Suppression State
Error	NU1107	Version conflict detected for Microsoft.ServiceFabric.Diagnostics.Internal. Install/reference Microsoft.ServiceFabric.Diagnostics.Internal 3.3.638 directly to project Ecomm.Product to resolve this issue.
 Ecomm.Product -> Microsoft.ServiceFabric.Services.Remoting 3.3.638 -> Microsoft.ServiceFabric.Diagnostics.Internal (= 3.

[2019-02-27 19:37] amanbha commented on #173
@niranjanbohra Please let me know if further help is needed for this issue else I will close the issue by end of this wiik.

[2019-03-01 03:43] hanxinimm commented on #146
@suchiagicha  How to create remoting  IActor without marking interface types with IService. And
can you move  custom serialization interface  to seperate? It's going to be hindered by Team development，Each time we need to solve a lot of update version！

[2019-03-05 08:01] ajaykaluraItron opened #176 "ServicePartitionClient is not aware of the ports changed if a node is restarted"
We have three node cluster which has 18 micro services. While creating the cluster, we have given the a range of dynamic ports that can be assigned to the WEB Api hosted in the cluster. Suppose, initially, node v1 has "X" service hosted in 2000 port and node v2 has "Y" service hosted in 2002 port. Now, node v2 is restarted, after restarting port of "Y" service is changed in the node V2 to 2003.

W

[2019-03-08 06:32] mattrowmsft opened #177 "ClientRetryTimeout not honored with CancellationToken"
**Describe the bug**
The ClientRetryTimeout is ignored if a real CancellationToken is used.  It defeats the purpose of the config to not use it in most cases.

**To Reproduce**
Pass in a real CancellationToken and talk to an endpoint with retryable failure.

**Expected behavior**
Should timeout when ClientRetryTimeout or cancellationToken expires, whichever comes sooner.

**Additional context**
I'

[2019-03-12 12:11] aL3891 opened #179 "Disable the actor/service etw logs"
In our system that a very significant amount of io and diskspace use is taken up by the etw files written for each actor activation and service call.

Is there a way to prevent these from being written to disk/azure storage? The fabric events are fine but the app model event just swamps our system and are never looked at anyway. currently we're writing 50 gb of data to storage about every three da

[2019-03-12 12:52] juho-hanhimaki commented on #179
Yep, I feel there should be an option to reduce logging on app/service level and still keep cluster in supported state.

I believe the following parameter helps with the issue but changing it also makes the cluster unsupported which is a shame.
https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-fabric-settings#traceetw

[2019-03-12 14:07] aL3891 commented on #179
I've actually set that as well, but it doesn't seem to have an effect, or there is some other parameter that also needs to be set.  There basically no docs for fabricDca or the logging in general, but from from what I've been able to guess there are "producers" of logs and "consumers".

In the settings there is a setting section called `ServiceFabricEtlFile` that is referenced by what I guess are

[2019-03-14 17:26] amanbha commented on #179
@aL3891 These events are required for providing support of the framework as this is our primary diagnostic story for Service Fabric, These traces are looked at by our support team on daily basis to provide support to our customers both at the cluster level & application level(specially when actors and service remoting is used).  Changing this needs considerable redesign of the overall diagnostic s

[2019-03-14 17:28] amanbha commented on #176
@ajaykaluraItron  What is the nuget package version for Microsfot.ServiceFabric.Services used by your project. 5.3 for Microsoft.ServiceFabric is very old and out of support, could you please upgrade to latest versions

[2019-03-14 17:29] #173 closed

[2019-03-14 18:33] juho-hanhimaki commented on #179
@amanbha That is very understandable, but I feel application level logging should be controllable on application level.

Cluster being healthy and supported is in my opinion whole other thing than the applications that are ran in it.

For us there are some applications/services that are more performance critical (that still use the built-in remoting and reliable collections with custom serializati

[2019-03-14 19:00] aL3891 commented on #179
I don't have a problem with cluster level logging, i'm even fine with having app model traces _when diagnosing a problem_ but to require them to be on at such a high level at all times _for all services_ seems very unreasonable..

For example we use actors for things like worker procesess and session management, these have absolutely no need to that kind of diagnosis and doesn't even save their st

[2019-03-14 20:38] amanbha commented on #179
@aL3891 , @juho-hanhimaki For Remoting, many customers don't add enough logging to their api calls so its very difficult to see what happened in production environment at any particular time and we do get of incidents to root cause such issues. Same is true for Reliable Collections and Actors. Although you are writing your services but SF product team provides support for the components which are

[2019-03-14 21:36] juho-hanhimaki commented on #179
Yep all I am hoping is for more control. I might be fine with some performance critical parts of our applications not receiving Microsoft support.

Generally I hope that Service Fabric reaches such maturity that support is not (at least often) required to root cause application level issues (bad, buggy code). But maybe that's not be a realistic as Service Fabric adds some complexity and often the

[2019-03-15 02:15] aL3891 commented on #179
Another note on this is that it causes us to need much bigger devtest clusters than we'd need other wise, and those are not supported anyway.

[2019-03-15 02:31] aL3891 commented on #179
@amanbha But surely you _ask_ before acessing customers files even on azure correct? We have never been asked about this. The point about mesh i've made elsewhere already, since the first private preview of mesh that we were part of. You could absolutley make the app model work, or atleast have a migration path or even a roadmap, but that has not been a priority.

Just because some customers dont

[2019-03-15 04:02] amanbha commented on #179
I understand your concern, Service Fabric provides both data and communication layer so customers expect us to support issues which happened in production in past.
I hear your feedback but unfortunately it cannot be disabled at application level at the moment and as mentioned above will share it with diagnostics team.
Reg. Mesh, I would encourage you to please voice the concern in the issue link I

[2019-03-15 06:29] aL3891 commented on #179
Allright, then we know.
Thank you for the information

[2019-03-20 16:41] amanbha opened #182 "Endpoing resource name is not setup correctly for FabricTransportActorServiceRemotingListener ctor when custom message handler is provided"
**Describe the bug**
Endpoing resource name is not setup correctly for FabricTransportActorServiceRemotingListener ctor when custom message handler is provided. Because of it we end opening a listener on port 0 which ends up getting a port from OS outside of Application port range, depending on clsuer config ports outside of Applciation port range might be blocked.

**To Reproduce**
For an Actor S

[2019-03-20 16:57] #177 closed

[2019-03-22 04:03] hanxinimm opened #183 "ActorProxy Remoting Call failure"
**Describe the bug**
i have a  StatefulService for receive message from eventbus,

![image](https://user-images.githubusercontent.com/13499426/54799392-f672c480-4c97-11e9-97b2-156039c1d05e.png)

the message handler  is async callback,
![image](https://user-images.githubusercontent.com/13499426/54799502-8a449080-4c98-11e9-8e6b-394002a7cc2d.png)
i scan message handler from assembly
![image](https://

[2019-03-25 23:10] #169 closed

[2019-03-25 23:10] amanbha commented on #183
Please share your repro .csproj and solution.

[2019-03-26 01:56] hanxinimm commented on #183
@anmolah

this is a project demo,
the STANClient  based on dotNetty development

![image](https://user-images.githubusercontent.com/13499426/54965793-1282a880-4fad-11e9-8eba-8a60d7d22211.png)

[Security.StatelessMessageManagerService.zip](https://github.com/Microsoft/service-fabric-services-and-actors-dotnet/files/3006144/Security.StatelessMessageManagerService.zip)

if you want to run it,tell me

[2019-03-29 05:07] mgrishkov opened #185 "List active and scheduled reminders for whole service"
Dear team,
How can I lists all scheduled and active reminders for the whole service (or for all services actors) to be able to monitor its statuses and loading?

[2019-04-06 05:42] amanbha commented on #185
There is no API available for actor service to get reminders, it needs to be queried for the actor.

[2019-04-06 16:28] amanbha opened #188 "Diagnostics improvement around closing of communication listeners"
1. Add extra tracing around opening and closing of communication listeners, this would help in identifying issues when multiple communication listeners are used
2. Health reporting when communication listener is taking longer to close, this would be surfaced in Service Fabric Explorer.

[2019-04-06 16:32] amanbha opened #189 "Throw MissingMethodException when the remoted method is not found on the server side"
Currently it throw key not found exception which is not very helpful, the key not found exception is thrown when the method is not found on the server side, this could happen when the new method is added to the interface or an existing method is removed from the interface and client & server are being updated at the same time.

[2019-04-06 16:33] #189 closed

[2019-04-06 16:33] #188 closed

[2019-04-10 02:37] amanbha commented on #182
PR for this is https://github.com/Microsoft/service-fabric-services-and-actors-dotnet/pull/190

[2019-04-10 11:28] jdvor opened #191 "Correct way how to register custom IStateSerializer<T>"
Where exactly the registration of a custom IStateSerializer<T> during lifetime of StatefulService should take place  in order to be effective?
So far I did not find the correct one and my customer serializer is not being used, which is manifested when deploying to a cluster with more than one instance of the stateful service.

Microsoft.ServiceFabric.Services 3.3.644
Microsoft.ServiceFabric.Servic

[2019-04-10 11:50] juho-hanhimaki commented on #191
Adding it in the constructor of the class has worked fine for me. Have you tried that?

[2019-04-10 12:41] jdvor commented on #191
@juho-hanhimaki  That works. Thanks.

[2019-04-10 12:41] #191 closed

[2019-04-10 15:28] kevinhicks commented on #146
@suchiagicha Would it be possible to have an CreateNonIActorProxy similar to CreateNonIServiceProxy? That would solve this issue; [and was your recommended solution to the same problem for IServices as well. ](https://github.com/Azure/service-fabric-issues/issues/27#issuecomment-335881539)

I have attempted to add this myself, but run into problems when the Manifest Generator runs at build time, a

[2019-04-11 11:29] juergstaub opened #192 "After upgrading Service Fabric SDK to 3.3.644 ServiceProxyFactory throws MissingMethodException"
After we upgraded from ServiceFabric from V3.1.283 to V3.3.644 we receive the following exception:

Method not found: 'Void Microsoft.ServiceFabric.Services.Remoting.Client.ServiceProxyFactory..ctor(System.Func`2<Microsoft.ServiceFabric.Services.Remoting.V2.Client.IServiceRemotingCallbackMessageHandler,Microsoft.ServiceFabric.Services.Remoting.V2.Client.IServiceRemotingClientFactory>, Microsoft.Se

[2019-04-16 00:22] amanbha commented on #192
@juergstaub does it work for you when you change it to
'''
return new ServiceProxyFactory(c => clientFactory, retrySettings: retrySettings, disposeFactory: null);
'''

[2019-04-16 00:26] amanbha commented on #183
@hanxinimm  Please file a support issue with Microsoft for this. https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-support#report-azure-service-fabric-issues

[2019-04-16 00:27] amanbha commented on #176
@ajaykaluraItron  closing this due to lack of response, please feel free to reopen if further help is needed.

[2019-04-16 00:27] #176 closed

[2019-04-16 17:28] #182 closed

[2019-04-18 22:16] narcis-pv opened #194 "Build fails when UpdateServiceFabricManifestEnabled is set to true for framework dependent FDD or FDE"
**Describe the bug**
Build fails if you try to build with `<SelfContained>True</SelfContained>` in csproj or if you remove the `<RuntimeIndentifier>`. Basically if you try to build a framework dependent project.

**To Reproduce**

1. Create new Service Fabric Actors project
2. Edit csproj, remove `RuntimeIndentifier` **or**  add `<SelfContained>false</SelfContained>`
3. Build

**Expected behavior*

[2019-04-18 22:23] narcis-pv commented on #194
Apparently one workaround is described by @kentcb and @amanbha in [here](https://github.com/Microsoft/service-fabric-services-and-actors-dotnet/issues/150).

`TL;DR;` You can disabled this option if you have built at least once and the config is generated.

[2019-04-18 22:40] amanbha commented on #194
@anantshankar17 I believe this scenarios will be fixed by your PR https://github.com/Microsoft/service-fabric-services-and-actors-dotnet/pull/187 . Please confirm.

[2019-04-19 14:18] anantshankar17 commented on #194
I'm confused, you seem to be trying to build an FDD project and still trying to enable self contained packaging ? Fundamentally, packaging should be either FDD or SelfContained. VS projects by default are all self contained, for an FDD all you got to do is:
1. remove the RuntimeIdentifier
2. add:
<Platform>x64</Platform>
<Platforms>x64</Platforms>

[2019-04-19 14:20] narcis-pv commented on #194
@anantshankar17 I'm sorry, I've updated the body, it should have `<SelfContained>False</SelfContained>` Thanks for noticing it.

[2019-04-19 14:26] anantshankar17 commented on #194
@narcis-pv ok, can you try the above mentioned steps instead and see if it builds for FDD ?

[2019-04-19 14:37] narcis-pv commented on #194
Same error

![image](https://user-images.githubusercontent.com/45754576/56428917-bff58d00-62c9-11e9-8eac-e18449cf4cee.png)

I have even tried with `<SelfContained>false</SelfContained>`not commented out.

[2019-04-19 15:00] anantshankar17 commented on #194
Yes, this was fixed in the PR: https://github.com/Microsoft/service-fabric-services-and-actors-dotnet/pull/180.

[2019-04-19 15:02] narcis-pv commented on #194
I'm using ` <PackageReference Include="Microsoft.ServiceFabric.Actors" Version="3.3.654" />` latest. When will the PR hit the release?

[2019-04-19 16:09] amanbha commented on #194
The fixes addressing this will be part of 3.4.* release. ETA is 3-4 weeks. Till then you can sue the workaround as you mentioned above.

[2019-04-22 10:16] aRajeshKumar opened #195 "Unable to serialize the Service Remoting request for a Stateless Service"
Trying to connect to a Stateless service with a  request object which is hosted in local cluster, receiving the following error:

System.AggregateException: One or more errors occurred. (Could not load file or assembly 'Newtonsoft.Json, Version=12.0.0.0, Culture=neutral, PublicKeyToken=30ad4fe6b2a6aeed'. The system cannot find the file specified.) ---> System.IO.FileNotFoundException: Could not lo

[2019-04-22 16:07] aRajeshKumar commented on #195
System.IO.FileLoadException
  HResult=0x80131040
  Message=Could not load file or assembly 'Newtonsoft.Json, Version=12.0.0.0, Culture=neutral, PublicKeyToken=30ad4fe6b2a6aeed'. The located assembly's manifest definition does not match the assembly reference. (Exception from HRESULT: 0x80131040)
  Source=Microsoft.ServiceFabric.Services
  StackTrace:
   at Microsoft.ServiceFabric.Services.Communic

[2019-04-22 17:34] amanbha commented on #195
@aRajeshKumar Is your "request" argument DataContract serializable? Is Newtonsoft present in your service's code package and on client side?

[2019-04-23 10:53] aRajeshKumar commented on #195
Had a discussion with @amanbha . It is the issue with the JsonConverter on Enum type. I removed it and everything is working fine.

[2019-04-23 10:53] #195 closed

[2019-04-29 14:10] juergstaub commented on #192
Sorry for the late reply, in order to be backward compatible we did the following:

[code]

[2019-05-09 05:09] Jaans commented on #67
I'm seeing the same behaviour with SF v6.4.

I also set the `TransactionIsolationLevel` of the `ServiceBehavior` attribute for the Service:
[code]

Not only do transaction not work, but when I have the transaction isolation attribute set, the WCF listener fails with the following error message, despite the class being like above and otherwise working just fine when hosted as WCF service via IIS.
[

[2019-05-09 06:26] Jaans opened #198 "ServiceHost for WCF service hosted by WcfCommunicationListener fails to enable Transaction support"
**Describe the bug**
This identifies the root cause for closed (no fix) issue #67.
When `WcfCommunicationListener` is invoked to internally delegate to the WCF ServiceHost, it fails to include the Service implementation instance / Service Type when building the `ServiceEndpoint`.

The consequence of this is that the WCF ServiceHost is unaware of the specific Service Implementation (that contains e

[2019-05-17 18:47] #198 closed

[2019-05-20 18:18] amanbha commented on #192
@juergstaub sorry for the late response, somehoe I missed notification when you responded to it,
Could you please see if it work for you, when you add the constructor as:
``
return new ServiceProxyFactory(c => clientFactory, retrySettings: retrySettings, disposeFactory: null);
``

[2019-05-23 23:13] hypertrends commented on #32
Hello, I second this request. Are there any examples/code snippets we could review to see if we can store state on to Cosmos DB? We are currently using Cart actors for an e-commerce system and one of the biggest fears is that we will have to nuke the Fabric instance (for whatever reasons) and won't be able to restore the state (unless all the backup logic was in place). With a Cosmos DB State prov

[2019-05-30 06:55] ashishnegi opened #204 "Clear health warnings proactively after task is successfully completed."
**Describe the bug**
Currently health warnings are fired on the service when communication listeners take time to close. The TTL (expiry time) of warnings is 5 min. If subsequently listeners are closed, we don't clear those warnings. This causes service to be unhealthy for ~5 mins. This raises false alarms.

Notice that close communication listeners is only one case. This issue is for all APIs usi

[2019-05-31 16:54] niranjanbohra opened #205 "Data clean up on deactivate"
As garbage collection of deactivated actors only cleans up the actor object, but it does not remove data that is stored in an actor's State Manager.  A remote caller needs to call explicitly deleteActorAsync which is overhead at the client side.

If there is a way to get deleteActorAsync behavior in the deactivated event, it can remove the extra unwanted burden on the client who doesn't want to tr

[2019-06-01 07:44] aL3891 opened #206 "Future/roadmap for Service fabric app models"
On a recent [video on channel 9](https://www.youtube.com/watch?v=oIdkbdlnmbw) i left a addmittedly rather salty comment basically noting that most if not all talks, blogs and general information about service fabric is in regards to mesh, containers or some combination there of, and that there had been very few features added to the regular app models, Reliable services and Reliable actors, for qu

[2019-06-03 23:34] amanbha commented on #205
@niranjanbohra  the actor state is removed form the StateManager on Actor deactivation, the state however is not removed form underlying state provider on deactivation. The state is available to actor again for use when actor is activated again.
If you just want o remove the state stored by the actor, you can remove the state in an overridden OnDeactivateAsync in your actor. For each actor however

[2019-06-04 21:46] amanbha opened #207 "FailFast in Services layer on RunAsync exception when thread hits OOM while reporting health."
Seen some isntances when service is running with ResourceGovernance placing limit of 1 GB on the service process. User RunAsync code is run as an unawaitable task, so before the ServicesLayer can FailFast on exception from user's RunAsync code, it hits OOM.

[2019-06-06 06:50] shacal commented on #206
I think Service Fabric app models should open up lower lever access (for speed and less overhead).
Im not so intrested on highlevel model, as I usually find that they are too generic with stuff you dont wanna have in production environment.
Also Im on the road to sqeeze as compact as possible as many services as possible, it helps to have low level access.

What I also think, is to have production

[2019-06-12 01:36] ChackDan commented on #206
@msfussell  - Is there something you can speak publicly about the work you are doing on the programming model front and may be even solicit some early feedback under NDA ?

[2019-06-13 15:18] #194 closed

[2019-06-13 18:27] amanbha commented on #183
Closing due to lack of response. please feel free to reopen if you need more help.

[2019-06-13 18:27] #183 closed

[2019-06-13 18:28] #185 closed

[2019-06-13 18:30] #205 closed

[2019-06-13 18:30] amanbha commented on #205
Please feel free to activate if more help is needed.

[2019-06-14 06:17] 0shi opened #208 "FabricException ErrorCode changed to Unknown when thrown via Remoting"
**Describe the bug**
A FabricException thrown from user code and returned to another service via Remoting has an ErrorCode property of Unknown when observed at the calling service, regardless of its original ErrorCode.
The HResult appears unchanged, as a workaround we will check the HResult as well as the ErrorCode.

**To Reproduce**
Source of exception - A Service that will be interacted with via

[2019-06-20 17:39] suchiagicha commented on #208
@0shi
Yes , it is expected to not work. We don't use that way. We use Errorcode property only for interop layer.
Why you are using FabricException. This is very much tied to ServiceFabric.

[2019-06-20 20:00] nkorai opened #210 "Service Fabric Remoting"
**Describe the bug**
Service remoting worked fine till about 2 weeks ago. Currently works fine on our production cluster, QA cluster as well as other local machines. On my machine I get service remoting timeouts for pretty much every call. I haven't been able to diagnose anything specific so this is a hail mary effort. It doesn't seem like it's specifically Service Fabric, as I see a lot of Socket

[2019-06-20 20:27] nkorai commented on #210
Closing any apps that use the internet seems to allows the remoting calls to start working again. Pretty confused by this, can't think why this is suddenly an issue when it's always worked in the past

[2019-06-23 04:48] 0shi commented on #208
I'm no longer on this project, but @MagicalFan should be able to answer any follow-up questions.

We encountered this when we were testing our retry policy by intentionally throwing an exception in one service and retrying it in another. If I understand this response correctly, any FabricExceptions thrown across to another Service will have a code of Unknown, and this is intentional?
Can we rely o

[2019-06-24 11:24] darraghjones commented on #206
The silence is deafening....and only goes toward proving @aL3891 concerns.

[2019-06-24 18:15] amanbha commented on #210
@nkorai This doesn't seem related to SF or remoting, it seems something on your machine.

[2019-06-26 20:50] nkorai commented on #210
That's fair but I'm worried that this problem will eventually show up in our production cluster. It seems like a network resources/port exhaustion issue. Every other app continues to work on my machine but only Service Fabric stops working with the stated Event Log error. Another colleague has also seen this occur on their machine.

[2019-06-26 21:58] amanbha commented on #210
@nkorai could you use netstat to see who is using the ports.

[2019-06-30 18:41] KDSBest opened #212 "Un-/Reliable UDP Actor Communication"
**Is your feature request related to a problem? Please describe.**
I want to save fast changing values in volatile Actor state and use the actor model to distribute calculation on the state.
For example: I have an MMO with information the client controls. The client sends updates of playerposition to his own actor. The actor does some calculation and validation, but speed is most important. If som

[2019-07-02 16:53] amanbha commented on #212
@KDSBest
You can plugin your own transport using the V2 remoting layer.

You need to implement the following classes  using your transport code .
(IServiceRemotingClientFactory)[https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicefabric.services.remoting.v2.client.iserviceremotingclientfactory?view=azure-dotnet]
IServiceRemotingCallbackMessageHandler
IserviceRemotingListener

We have a  p

[2019-07-03 15:29] #212 closed

[2019-07-05 01:34] dasiths opened #213 "Service Fabric Actor notification fails to trigger event handler after first invocation due to possible blocking"
I've got 2 Reliable actors called `GameActor` and `PlayerActor`. The `ClientApp` send a message to the `PlayerActor` when the player makes a move. Then the `PlayerActor` sends a message to the `GameActor` to indicate a movement was made. Upon being invoked, the method in the `GameActor` fires a notification. This notification gets handled by the `ClientApp GameEventsHandler`. The `ClientApp` then

[2019-07-10 17:39] juho-hanhimaki commented on #179
This is still relevant to us. We run highly optimized IoT service (for IoT device data volume). We still use built-in remoting to move data between services, but because we have no control over the diagnostics volume generated we might need to replace the remoting as a whole (which seems waste of resources, because otherwise remoting works well).

We have millions of remoting calls per day which a

[2019-07-16 14:02] davebally commented on #210
Any update on this issue ? We are experiencing the same error "NetworkProbe: WinsockNetworkPing connect to server failed. Error: 10051".  This is on a 3 node dev cluster on AWS EC2 instances.  All nodes have issues talking to all other nodes on ports 19001 and 19002.  Service fabric explorer is not reporting issues, we are able to upgrade services etc just fine.  No other symptoms noticed, we dont

[2019-07-16 16:21] amanbha commented on #210
@davebally This doesn't seem related to SF or remoting, it seems something on your EC2  machine..   could you use netstat to see who is using the ports.

[2019-07-17 11:25] davebally commented on #210
Hi @amanbha ,  here is snippets from the netstat from both node-0 and node-2 that are having problems talking to each other on 19001 and 19002.
As you can see getting " Can not obtain ownership information" on those ports,  should this be fabric.exe.   Its not on my dev laptop.. ???
There is showing at least 1 established connection too.

[code]

[2019-07-17 15:53] amanbha commented on #210
@davebally This looks like a machine specific issue, I am not familiar with how VMs are configured in EC2. It would need more investigation, could you please open a support ticket with Microsoft to get help with this: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-support

[2019-07-18 14:27] joaocpribeiro commented on #149
@lindgrend @amanbha Could you please let us know whether the reminder was really not being triggered? Thanks.

[2019-07-19 23:35] aL3891 commented on #206
its been two months, still no response @msfussell + team?

[2019-07-19 23:40] aL3891 commented on #210
i've also seen this issue on atleast four diffrent machines.. i dont think you can pin this on some machine specific issue. for us it seems to be specific to fabric version  6.4.658.9590, when i installed 6.4.664 on one of them the timeouts seems to stop.

[2019-07-19 23:48] amanbha commented on #210
@aL3891  please open a support ticket with Microsoft to get help with this: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-support

[2019-07-22 17:01] amanbha commented on #206
@aL3891 Thanks for asking whats on your mind, I want to address the concerns you raised by stressing that Service Fabric is a supported product with new features added to it. I also want to assure that all production issues raised by users are supported by Microsoft support team and Service Fabric product team. All new feature requests are still honored and are triaged with other work items which

[2019-07-22 20:35] juho-hanhimaki commented on #206
@amanbha that is good to hear. I think it would be great if development and design was done more on open and there would be public roadmaps and design documentation and discussions. Move more towards the .NET Core / ASP.NET Core development process.

With Service Fabric it seems like there are a lot of undocumented features and since development and design is pretty much done hidden from the commu

[2019-07-23 01:08] ChackDan commented on #206
This is fair feedback Juho.  We can certainly do a better job with the roadmap and doing more work in the open. Thankyou for the examples as well, these help drive home the points you make. Adding my Dev manager as well, so that he hears this first hand. He and I can take this into account when we staff improvements for the next semester, writeup the release notes, and comments in the PRs.

From:

[2019-07-23 16:41] amanbha commented on #206
@juho-hanhimaki I think your feedback around release notes is valid and important,  we try to include the major changes in the release notes (not all bug fixes go into the release notes), but if you feel its still not comprehensive, as @ChackDan mentioned above, we will takt this feedback into account.
Reg. closing the issues on github, I will circle back with the team to close the issues and mark

[2019-07-23 20:59] aL3891 commented on #206
I agree that is nice to hear but i also what to stress that as an outsider there is _very_ little actual evidence of this..

What features of the native programming models are being worked on? what features have been recently released? i look though the full release notes in every release and there is not much in there that pertains to the native programming models.

Mesh is completley incompatibl

[2019-07-24 01:25] amanbha commented on #206
@al3891 Actors and Services layer including remoting is built in open in this very repo. All the issues are opened and discussed here. Similarly SF aspnetcore integration is also done in open, and you are currently part of the feature being discussed for development.
Granted, there is scope for improvement in release notes to be more comprehensive and rest assured that feedback is taken.
Recently

[2019-07-24 08:34] juho-hanhimaki commented on #206
If this repo is an example of development in the open it feels like a mess to me. There are no public plans, design, work items, milestones. It isn't clear what is the direction of this repo or if there is any at all. There is no feasible way for community to participate since the only thing that comes in to this repo is finished code without any context (documentation, design, release schedule...

[2019-07-24 12:56] aL3891 commented on #206
So am I understanding correctly that all the ongoing feature work is being done in this repo? All the planned feature work is documented here as issues/work items? That would make the on going/planned features.. what? There are 17 open issues in this repo right now and none of them are features. There are no feature branches, no open PRs. looking at the closed PRs 2019, witch fit in a single page

[2019-07-24 16:12] amanbha commented on #206
@al3891 To give you the full diverse and broader view: Service Fabric team works on various components: Runtime (including reliable collections and data stack), Actors & services Programming models, a managed service(to create SF clusters in Azure), provding supoport to our first and third party existing customers & onboarding new customers.
Programming model components is mere one aspect of it wh

[2019-07-24 20:06] aL3891 commented on #206
Sure and I get that. Again, I'm sure the team is working hard, but from my perspective it just seems like the programming models are not very high on the list of priorities.

My assumption was that you were doing development and work item tracking internally and then only pushing releases here, but that is not the case then?

I know about the branches in this repo, I'm just bringing that and PRs u

[2019-07-24 22:28] NickDarvey commented on #206
Not to just add kindling, but...
...to see other Microsoft teams not continuing with their Service Fabric integration (e.g. [Orleans] (https://github.com/dotnet/orleans/pull/5073)) doesn't do well for my faith in the future of the programming models. I understand that it is "up to them" to resource it but that does little to allay.

First-class statefulness was what brought me to SF over K8s. It'd

[2019-07-26 12:23] goenning commented on #84
@amanbha hey, this thread is very informative, thanks for the discussion.

Does the same apply to an Actor in which StatePersistence is None? Do we still need to remove actors which does not have StatePersistence? I suppose the metadata is still persisted somewhere, right?

[2019-07-27 01:34] amanbha commented on #84
@goenning When state persistence is None, the state is not replicated and persisted to other replicas. So when the primary replica failsover all the state is gone. You don't need to remove actors or state, periodically you can just failover the actor service process and all state will be gone.

[2019-07-29 17:12] JustinKaffenberger commented on #206
First off, I despise the concept that a given repository needs a certain 'rate of contribution' to be considered healthy; I do think it's possible for things to reach a 'feature-complete' state, only needing security patches. *However*, Service Fabric is a platform that underpins enormous projects, so to not have visibility into the processes and procedures that are in place to keep Service Fabric

[2019-07-29 18:07] amanbha commented on #206
@aL3891

For SF runtime (which includes Reliable Collections as well) that is the case.

To clarify, the plan currently is that team will take on work items including bug fixes and feature work as requested/reported by users. Community contributions are always welcome.

I believe that the fact that it was called "Service fabric Mesh" is what is causing the confusion, serverless offerring is a mana

[2019-07-29 21:24] aL3891 commented on #206
And the other SF components like asp.net integration and programming models? (it sounds like they're diffrent based on your phrasing)

In other words, no new features initiated by the team? The future direction of the programming models is basically up to the community? As i've said, getting community support is very dificullt without some kind of direction, people are generally unwilling to spend

[2019-07-30 21:00] aL3891 opened #216 "Building Actor projects fails with dotnet core 3 preview 7"
**Describe the bug**
Building an actor service projects fails during service manifest generation

**To Reproduce**
In VS 16.3 preview 1, Create a new Service fabric application with a .net core actor service, build.

**Expected behavior**
Build is succesful

**Additional context**
Build fails with the following error

[code]

manually running the command gives the following result

[code]

[2019-08-06 17:10] amanbha opened #217 "Move ActorServiceReplicaCloseEvent telemtry call before ActorManagerAdapter is closed"
Move ActorServiceReplicaCloseEvent telemtry call before ActorManagerAdapter is closed.
This issue exists in develop branch which is targeting the next release.
As a result of this the telemetry call throws NullRef as ActorManager is set to null befor it.

[2019-08-06 19:25] dbreshears commented on #216
Thanks!   We have a bug on this we were discussing today.,   it still occurs in Preview 8 when calling FabActUtil from the tooling.  Will investigate

2>------ Rebuild All started: Project: Actor1, Configuration: Debug Any CPU ------
2>Actor1 -> C:\Users\devinb\source\repos\Application41\Actor1\bin\Debug\netcoreapp3.0\win7-x64\Actor1.dll
2>EXEC : error :
2>  An assembly specified in the applicatio

[2019-08-07 18:48] #217 closed

[2019-08-08 21:58] oising commented on #216
I'm having a similar failure with the SF SDK (latest version as of today)  -- I'm not sure if it's the same, but I don't want to add a dupe if it is. I'm using net core 3 preview 7, and while the actor and interface projects build, the SF project blows up with `The "GetServiceProjectReferences" task failed unexpectedly` and the call stack looks like this:

[code]

I then shelled out and ran `dotne

[2019-08-09 16:03] oising commented on #216
The fix got checked in and it works. See my comment on the commit: https://github.com/oising/service-fabric-services-and-actors-dotnet/commit/dc86d3ae8abb99b56db4bf8f903703a8fe6af533

[2019-08-09 17:06] aL3891 commented on #216
Great, thanks! should i close or will you do that when you merge? :)

[2019-08-09 17:09] amanbha commented on #216
@aL3891 The PR is merged, will close it once a nuget package is out with the fix.

[2019-08-14 16:02] alexmarshall132 commented on #206
I have the same concerns and I'd very much like to know what Microsoft's roadmap is here. The Reliable* Programming Models are fantastic and they allow my team to be very productive. I would very much like to see them carried forward into Service Fabric Mesh.

[2019-08-15 16:53] dkkapur commented on #206
Hi folks, thanks for the feedback on this thread. We need to do a better job in terms of providing visibility into the work we are doing. @athinanthny @masnider and I are looking into how we can improve the content being shared on Azure Updates, this repo, and other places for this. If you have any suggestions, please let us know.

Here’s a quick summary on things we are working on now that hopefu

[2019-08-15 17:43] aL3891 commented on #206
Thank you for the update @dkkapur, it's very much appriciated, looking forward to trying those things out, the new node agent sound and CRM stuff sound especially interesting.

As for suggestings i really recommend looking at [Arcade](https://github.com/dotnet/arcade/blob/master/Documentation/StartHere.md), the shared reusable tooling the dotnet teams are using for their repos. it contains tools f